gulp_coporation/src/jade/partial/modal/pref.jade
.modal.prefmodal(data-remodal-id='prefmodal' data-search-id="pref")
	h1.modal__ttl.u-fs--l 市区町村
	.modal__inner.u-fs--xs
		.modal__checkbox(id="city_checkboxes")
			input.search-checkbox(type="checkbox" name="a" id="pref01" data-num="1")
			label.search-checkbox__label--modal.u-mt10(for="pref01")
				| テキスト
			input.search-checkbox(type="checkbox" name="a" id="pref02" data-num="2")
			label.search-checkbox__label--modal.u-mt10(for="pref02")
				| テキスト
			input.search-checkbox(type="checkbox" name="a" id="pref03" data-num="3")
			label.search-checkbox__label--modal.u-mt10(for="pref03")
				| テキスト
			input.search-checkbox(type="checkbox" name="a" id="pref04" data-num="4")
			label.search-checkbox__label--modal.u-mt10(for="pref04")
				| テキスト
		.modal__btn
			.c-button-square--mm(data-remodal-action='close')
				|閉じる

gulp_coporation/dist/partial/modal/pref.html

<div data-remodal-id="prefmodal" data-search-id="pref" class="modal prefmodal">
  <h1 class="modal__ttl u-fs--l">市区町村</h1>
  <div class="modal__inner u-fs--xs">
    <div id="city_checkboxes" class="modal__checkbox">
      <input type="checkbox" name="a" id="pref01" data-num="1" class="search-checkbox"/>
      <label for="pref01" class="search-checkbox__label--modal u-mt10">テキスト</label>
      <input type="checkbox" name="a" id="pref02" data-num="2" class="search-checkbox"/>
      <label for="pref02" class="search-checkbox__label--modal u-mt10">テキスト</label>
      <input type="checkbox" name="a" id="pref03" data-num="3" class="search-checkbox"/>
      <label for="pref03" class="search-checkbox__label--modal u-mt10">テキスト</label>
      <input type="checkbox" name="a" id="pref04" data-num="4" class="search-checkbox"/>
      <label for="pref04" class="search-checkbox__label--modal u-mt10">テキスト</label>
    </div>
    <div class="modal__btn">
      <div data-remodal-action="close" class="c-button-square--mm">閉じる</div>
    </div>
  </div>
</div>
