__gulp/lunda_beauty_sp/src/jade/contents/interview/01.jade
- var page = 'contents_trend'
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'

doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../../partial/_header
			.primary-box--noPadding
				.primaryImg-box(style="background-image:url(#{domain}img/media/trend-01.jpg)")
					span.u-fs--xs--contents.c-tag--beauty--l--contents #{config.category_2}
				.contents-box
					h1.contents-box__ttl.u-fs--xlh--contents.u-mt30.u-fwb 今が食べごろ！ふわっとやわらかな春キャベツの魅力
					ul.contents-box--social.u-mt10
						li.contents-box--social__list
							a(href="#").c-button-square--social.c-facebook
								i.c-font-icon--facebook._social__block__icon.u-fs--xxxl
						li.contents-box--social__list
							a(href="#").c-button-square--social.c-twitter.u-mt10
								i.c-font-icon--twitter._social__block__icon.u-fs--xxxl
						li.contents-box--social__list
							a(href="#").c-button-square--social.c-line.u-mt10
								i.c-font-icon--line._social__block__icon.u-fs--xxxxl
						li.contents-box--social__list
							a(href="#").c-button-square--social.c-hatena.u-mt10
								i.c-font-icon--hatebu._social__block__icon.u-fs--xxxl
					.contents-box__num.u-mt10
						span.c-icon--eye
						span.u-fs--xxs 2368
					.contents-box__overview.u-mt20.u-fs--mh
						h3.u-fwb
							|ジャパンフードサービス株式会社
							br
							|代表取締役 社長　小嶋 雄治
						ul
							li 「八丁堀バル 873」「入谷海岸 湘南食堂」、9月1日に開店する新店舗「kamakura house」と都内に3店舗のお店を構える、オーナーの小嶋雄治さんに、お話しを伺いました。
					h2.contents-box__ttl--border.u-fs--xlh--contents.u-fwb.u-mt35 飲食業界で働こうと思った、きっかけを教えてください。
					h3.contents-box__ttl--sub--interview.u-fs--xlh.u-fwb.u-mt30
						| ――18歳で大学進学のために上京された当時、将来飲食店を経営するとイメージしていましたか？
					p.contents-box__text.u-fs--mh.u-mt15
						|ほほ1 年中目にするキャベツは球型でしっかりと葉が巻いている「寒玉」です。これに対して比較的暖かい産地で春先に出荷される品種が「春玉」。葉の巻きが緩やかでやわらかく、生で食べても甘味を感じます。
						|大きな野菜ではありますが、ほんのひと工夫すればたっぷりと、おいしく食べきれます。春こそ、新しいキャベツ料理にチャレンジしませんか？
					p.contents-box__text.u-fs--mh.u-mt15
						| ほほ1 年中目にするキャベツは球型でしっかりと葉が巻いている「寒玉」です。これに対して比較的暖かい産地で春先に出荷される品種が「春玉」。葉の巻きが緩やかでやわらかく、生で食べても甘味を感じます。
						| 大きな野菜ではありますが、ほんのひと工夫すればたっぷりと、おいしく食べきれます。春こそ、新しいキャベツ料理にチャレンジしませんか？

					h3.contents-box__ttl--sub--interview.u-fs--xlh.u-fwb.u-mt30
						| ――なぜ料理を本格的にやっていこうと思ったのですか。
					p.contents-box__text.u-fs--mh.u-mt15
						|ロールキャベツはタネ作りに少し手聞がかかるイメージがあります。でも薄切り肉を使えばもっと簡単！
						|春キャベツは生のまま、適当な大きさに切って薄切り肉を巻きます。火の通りも早いのでサッと煮こむのはもちろん、
						|焼いたり蒸したり、衣をつけて揚げたりすれば、お好みのロールキャベツに。食感も楽しい新感覚の口ールキャベツをお試しください。
					figure.contents-box__img.u-mt15
						img(src="#{domain}img/media/trend-02.jpg" alt="")
					h3.contents-box__ttl--sub--interview.u-fs--xlh.u-fwb.u-mt30
						|――最後に、9月1日に新しくリニューアルオープンされますが、今後の展望や未来像があれば教えてください。
					p.contents-box__text.u-fs--mh.u-mt15
						|ロールキャベツはタネ作りに少し手聞がかかるイメージがあります。でも薄切り肉を使えばもっと簡単！
						|春キャベツは生のまま、適当な大きさに切って薄切り肉を巻きます。火の通りも早いのでサッと煮こむのはもちろん、焼いたり蒸したり、
						|衣をつけて揚げたりすれば、お好みのロールキャベツに。食感も楽しい新感覚の口ールキャベツールキャベツをお試しください。
					.contents-box__overview.u-mt20.u-fs--mh
						h3.u-fwb [店舗情報]
						ul
							li 店舗:クロスカーサ
							li 住所:東京都新宿区歌舞伎町1-23-13　第一大滝ビルB1
							li アクセス:JR新宿駅東口から徒歩3分　西武新宿線から徒歩1分
							li TEL:03-6380-3661
							li URL:http://r.gnavi.co.jp/jep0000/
							li 生ハム食べ放題会員も募集中
							li http://hogehoge.com/
					.contents-box__overview.u-mt20.u-fs--mh
						h3.u-fwb [会社概要]
						ul
							li 称号:株式会社スペースワン
							li 代表者:代表取締役　松林大吾
							li 所在地:〒150-0043　東京都道玄坂1-22-8-5F
							li 設立: 2006(平成18)12月


				h3.column-box--new__ttl.u-fs--xs--contents.u-fwb.u-mt20
					i.c-icon--star--other
					| 新着コンテンツ
				ul.column-box--new__list
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--sns--l.u-fs--xs.u-fwb
										| #{config.category_3}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界では“板チョコ革命”が起きていた？！チョコレートの本当の美味しさを届ける「Bean to bar（ビーン・トゥ・バー）」
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--work--l.u-fs--xs.u-fwb
										| #{config.category_1}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--beauty--l.u-fs--xs.u-fwb
										| #{config.category_2}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--beauty--l.u-fs--xs.u-fwb
										| #{config.category_2}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
				h3.column-box--new__ttl.u-fs--xs--contents.u-fwb.u-mt20
					i.c-icon--heart
					| 人気コンテンツ
				ul.column-box--new__list
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界では“板チョコ革命”が起きていた？！チョコレートの本当の美味しさを届ける「Bean to bar（ビーン・トゥ・バー）」
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
				h3.nav-box--category__ttl.u-fs--xs--contents.u-fwb
					span
						i.c-icon--circle--text__ttl
						|コンテンツカテゴリー
				ul.nav-box--category.u-fs--s.u-mt10
					include ../../partial/_footerNav
			include ../../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../../partial/_leftNav
		include ../../partial/modal/_login
		script(src='#{domain}js/app.js')

__design/SP/contents/interview/01.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>キレイにスルンダ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width,initial-scale=1.0 maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../../css/app.css">
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="../../img/desktopicon.png">
    <link rel="icon" type="image/png" href="/ico/favicon.png" sizes="32x32">
  </head>
  <body>
    <div data-target-wrap="hamburger" class="globalmenu__wrap">
      <header class="header--primary">
        <div class="header--primary__inner u-cf">
          <div data-trigger-quicksearch="quicksearch" class="header--primary__search"><i class="c-icon--search"></i><span class="-primary__search__text">SEARCH</span></div>
          <h2 class="header--primary__logo"><a href="#"><img src="../../img/svg/top-logo.svg" alt="キレイにスルンダ"></a></h2>
          <div class="header--primary__right">
            <div data-trigger-hamburgermenu="hamburger" class="nav--hamburger"><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__text">MENU</span></div>
          </div>
        </div>
      </header>
      <div class="primary-box--noPadding">
        <div style="background-image:url(../../img/media/trend-01.jpg)" class="primaryImg-box"><span class="u-fs--xs--contents c-tag--beauty--l--contents">キレイにナルンダ</span></div>
        <div class="contents-box">
          <h1 class="contents-box__ttl u-fs--xlh--contents u-mt30 u-fwb">今が食べごろ！ふわっとやわらかな春キャベツの魅力</h1>
          <ul class="contents-box--social u-mt10">
            <li class="contents-box--social__list"><a href="#" class="c-button-square--social c-facebook"><i class="c-font-icon--facebook _social__block__icon u-fs--xxxl"></i></a></li>
            <li class="contents-box--social__list"><a href="#" class="c-button-square--social c-twitter u-mt10"><i class="c-font-icon--twitter _social__block__icon u-fs--xxxl"></i></a></li>
            <li class="contents-box--social__list"><a href="#" class="c-button-square--social c-line u-mt10"><i class="c-font-icon--line _social__block__icon u-fs--xxxxl"></i></a></li>
            <li class="contents-box--social__list"><a href="#" class="c-button-square--social c-hatena u-mt10"><i class="c-font-icon--hatebu _social__block__icon u-fs--xxxl"></i></a></li>
          </ul>
          <div class="contents-box__num u-mt10"><span class="c-icon--eye"></span><span class="u-fs--xxs">2368</span></div>
          <div class="contents-box__overview u-mt20 u-fs--mh">
            <h3 class="u-fwb">ジャパンフードサービス株式会社<br>代表取締役 社長　小嶋 雄治</h3>
            <ul>
              <li>「八丁堀バル 873」「入谷海岸 湘南食堂」、9月1日に開店する新店舗「kamakura house」と都内に3店舗のお店を構える、オーナーの小嶋雄治さんに、お話しを伺いました。</li>
            </ul>
          </div>
          <h2 class="contents-box__ttl--border u-fs--xlh--contents u-fwb u-mt35">飲食業界で働こうと思った、きっかけを教えてください。</h2>
          <h3 class="contents-box__ttl--sub--interview u-fs--xlh u-fwb u-mt30">――18歳で大学進学のために上京された当時、将来飲食店を経営するとイメージしていましたか？</h3>
          <p class="contents-box__text u-fs--mh u-mt15">
            ほほ1 年中目にするキャベツは球型でしっかりと葉が巻いている「寒玉」です。これに対して比較的暖かい産地で春先に出荷される品種が「春玉」。葉の巻きが緩やかでやわらかく、生で食べても甘味を感じます。
            大きな野菜ではありますが、ほんのひと工夫すればたっぷりと、おいしく食べきれます。春こそ、新しいキャベツ料理にチャレンジしませんか？
          </p>
          <p class="contents-box__text u-fs--mh u-mt15">
            ほほ1 年中目にするキャベツは球型でしっかりと葉が巻いている「寒玉」です。これに対して比較的暖かい産地で春先に出荷される品種が「春玉」。葉の巻きが緩やかでやわらかく、生で食べても甘味を感じます。
            大きな野菜ではありますが、ほんのひと工夫すればたっぷりと、おいしく食べきれます。春こそ、新しいキャベツ料理にチャレンジしませんか？
          </p>
          <h3 class="contents-box__ttl--sub--interview u-fs--xlh u-fwb u-mt30">――なぜ料理を本格的にやっていこうと思ったのですか。</h3>
          <p class="contents-box__text u-fs--mh u-mt15">
            ロールキャベツはタネ作りに少し手聞がかかるイメージがあります。でも薄切り肉を使えばもっと簡単！
            春キャベツは生のまま、適当な大きさに切って薄切り肉を巻きます。火の通りも早いのでサッと煮こむのはもちろん、
            焼いたり蒸したり、衣をつけて揚げたりすれば、お好みのロールキャベツに。食感も楽しい新感覚の口ールキャベツをお試しください。
          </p>
          <figure class="contents-box__img u-mt15"><img src="../../img/media/trend-02.jpg" alt=""></figure>
          <h3 class="contents-box__ttl--sub--interview u-fs--xlh u-fwb u-mt30">――最後に、9月1日に新しくリニューアルオープンされますが、今後の展望や未来像があれば教えてください。</h3>
          <p class="contents-box__text u-fs--mh u-mt15">
            ロールキャベツはタネ作りに少し手聞がかかるイメージがあります。でも薄切り肉を使えばもっと簡単！
            春キャベツは生のまま、適当な大きさに切って薄切り肉を巻きます。火の通りも早いのでサッと煮こむのはもちろん、焼いたり蒸したり、
            衣をつけて揚げたりすれば、お好みのロールキャベツに。食感も楽しい新感覚の口ールキャベツールキャベツをお試しください。
          </p>
          <div class="contents-box__overview u-mt20 u-fs--mh">
            <h3 class="u-fwb">[店舗情報]</h3>
            <ul>
              <li>店舗:クロスカーサ</li>
              <li>住所:東京都新宿区歌舞伎町1-23-13　第一大滝ビルB1</li>
              <li>アクセス:JR新宿駅東口から徒歩3分　西武新宿線から徒歩1分</li>
              <li>TEL:03-6380-3661</li>
              <li>URL:http://r.gnavi.co.jp/jep0000/</li>
              <li>生ハム食べ放題会員も募集中</li>
              <li>http://hogehoge.com/</li>
            </ul>
          </div>
          <div class="contents-box__overview u-mt20 u-fs--mh">
            <h3 class="u-fwb">[会社概要]</h3>
            <ul>
              <li>称号:株式会社スペースワン</li>
              <li>代表者:代表取締役　松林大吾</li>
              <li>所在地:〒150-0043　東京都道玄坂1-22-8-5F</li>
              <li>設立: 2006(平成18)12月</li>
            </ul>
          </div>
        </div>
        <h3 class="column-box--new__ttl u-fs--xs--contents u-fwb u-mt20"><i class="c-icon--star--other"></i>新着コンテンツ</h3>
        <ul class="column-box--new__list">
          <li class="column-box--new__lists"><a href="#">
              <div style="background-image:url(../../img/media/media-m01.jpg)" class="-new__list__img"><span class="c-icon--circle--m"><span class="u-fwb">NEW</span></span></div>
              <div class="-new__list__right">
                <p class="-new__list__text u-fs--sh--contents u-fwb">世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？</p>
                <div class="_list__right__bottom"><span class="_list__right__tag c-tag--sns--l u-fs--xs u-fwb">集客の知恵袋</span>
                  <div class="_right__bottom__num"><span class="c-icon--eye"></span><span class="u-fs--xxs">2368</span></div>
                </div>
              </div></a></li>
          <li class="column-box--new__lists"><a href="#">
              <div style="background-image:url(../../img/media/media-m01.jpg)" class="-new__list__img"><span class="c-icon--circle--m"><span class="u-fwb">NEW</span></span></div>
              <div class="-new__list__right">
                <p class="-new__list__text u-fs--sh--contents u-fwb">世界では“板チョコ革命”が起きていた？！チョコレートの本当の美味しさを届ける「Bean to bar（ビーン・トゥ・バー）」</p>
                <div class="_list__right__bottom"><span class="_list__right__tag c-tag--star--l u-fs--xs u-fwb">スタア発掘</span>
                  <div class="_right__bottom__num"><span class="c-icon--eye"></span><span class="u-fs--xxs">2368</span></div>
                </div>
              </div></a></li>
          <li class="column-box--new__lists"><a href="#">
              <div style="background-image:url(../../img/media/media-m01.jpg)" class="-new__list__img"><span class="c-icon--circle--m"><span class="u-fwb">NEW</span></span></div>
              <div class="-new__list__right">
                <p class="-new__list__text u-fs--sh--contents u-fwb">世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？</p>
                <div class="_list__right__bottom"><span class="_list__right__tag c-tag--work--l u-fs--xs u-fwb">キレイJOB図鑑</span>
                  <div class="_right__bottom__num"><span class="c-icon--eye"></span><span class="u-fs--xxs">2368</span></div>
                </div>
              </div></a></li>
          <li class="column-box--new__lists"><a href="#">
              <div style="background-image:url(../../img/media/media-m01.jpg)" class="-new__list__img"><span class="c-icon--circle--m"><span class="u-fwb">NEW</span></span></div>
              <div class="-new__list__right">
                <p class="-new__list__text u-fs--sh--contents u-fwb">世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト</p>
                <div class="_list__right__bottom"><span class="_list__right__tag c-tag--beauty--l u-fs--xs u-fwb">キレイにナルンダ</span>
                  <div class="_right__bottom__num"><span class="c-icon--eye"></span><span class="u-fs--xxs">2368</span></div>
                </div>
              </div></a></li>
          <li class="column-box--new__lists"><a href="#">
              <div style="background-image:url(../../img/media/media-m01.jpg)" class="-new__list__img"><span class="c-icon--circle--m"><span class="u-fwb">NEW</span></span></div>
              <div class="-new__list__right">
                <p class="-new__list__text u-fs--sh--contents u-fwb">世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト</p>
                <div class="_list__right__bottom"><span class="_list__right__tag c-tag--beauty--l u-fs--xs u-fwb">キレイにナルンダ</span>
                  <div class="_right__bottom__num"><span class="c-icon--eye"></span><span class="u-fs--xxs">2368</span></div>
                </div>
              </div></a></li>
        </ul>
        <h3 class="column-box--new__ttl u-fs--xs--contents u-fwb u-mt20"><i class="c-icon--heart"></i>人気コンテンツ</h3>
        <ul class="column-box--new__list">
          <li class="column-box--new__lists"><a href="#">
              <div style="background-image:url(../../img/media/media-m01.jpg)" class="-new__list__img"><span class="c-icon--tag"><span class="u-fwb">人気</span></span></div>
              <div class="-new__list__right">
                <p class="-new__list__text u-fs--sh--contents u-fwb">世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？</p>
                <div class="_list__right__bottom"><span class="_list__right__tag c-tag--star--l u-fs--xs u-fwb">スタア発掘</span>
                  <div class="_right__bottom__num"><span class="c-icon--eye"></span><span class="u-fs--xxs">2368</span></div>
                </div>
              </div></a></li>
          <li class="column-box--new__lists"><a href="#">
              <div style="background-image:url(../../img/media/media-m01.jpg)" class="-new__list__img"><span class="c-icon--tag"><span class="u-fwb">人気</span></span></div>
              <div class="-new__list__right">
                <p class="-new__list__text u-fs--sh--contents u-fwb">世界では“板チョコ革命”が起きていた？！チョコレートの本当の美味しさを届ける「Bean to bar（ビーン・トゥ・バー）」</p>
                <div class="_list__right__bottom"><span class="_list__right__tag c-tag--star--l u-fs--xs u-fwb">スタア発掘</span>
                  <div class="_right__bottom__num"><span class="c-icon--eye"></span><span class="u-fs--xxs">2368</span></div>
                </div>
              </div></a></li>
          <li class="column-box--new__lists"><a href="#">
              <div style="background-image:url(../../img/media/media-m01.jpg)" class="-new__list__img"><span class="c-icon--tag"><span class="u-fwb">人気</span></span></div>
              <div class="-new__list__right">
                <p class="-new__list__text u-fs--sh--contents u-fwb">世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？</p>
                <div class="_list__right__bottom"><span class="_list__right__tag c-tag--star--l u-fs--xs u-fwb">スタア発掘</span>
                  <div class="_right__bottom__num"><span class="c-icon--eye"></span><span class="u-fs--xxs">2368</span></div>
                </div>
              </div></a></li>
          <li class="column-box--new__lists"><a href="#">
              <div style="background-image:url(../../img/media/media-m01.jpg)" class="-new__list__img"><span class="c-icon--tag"><span class="u-fwb">人気</span></span></div>
              <div class="-new__list__right">
                <p class="-new__list__text u-fs--sh--contents u-fwb">世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト</p>
                <div class="_list__right__bottom"><span class="_list__right__tag c-tag--star--l u-fs--xs u-fwb">スタア発掘</span>
                  <div class="_right__bottom__num"><span class="c-icon--eye"></span><span class="u-fs--xxs">2368</span></div>
                </div>
              </div></a></li>
          <li class="column-box--new__lists"><a href="#">
              <div style="background-image:url(../../img/media/media-m01.jpg)" class="-new__list__img"><span class="c-icon--tag"><span class="u-fwb">人気</span></span></div>
              <div class="-new__list__right">
                <p class="-new__list__text u-fs--sh--contents u-fwb">世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト</p>
                <div class="_list__right__bottom"><span class="_list__right__tag c-tag--star--l u-fs--xs u-fwb">スタア発掘</span>
                  <div class="_right__bottom__num"><span class="c-icon--eye"></span><span class="u-fs--xxs">2368</span></div>
                </div>
              </div></a></li>
        </ul>
        <h3 class="nav-box--category__ttl u-fs--xs--contents u-fwb"><span><i class="c-icon--circle--text__ttl"></i>コンテンツカテゴリー</span></h3>
        <ul class="nav-box--category u-fs--s u-mt10">
          <li class="nav-box__list is-selected">
            <p class="nav-box__list--selected u-fwb"><span>キレイJOB図鑑</span><i class="c-icon--triangle"></i></p>
          </li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link u-fwb"><span>集客の知恵袋</span><i class="c-icon--triangle"></i></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link u-fwb"><span>キレイにナルンダ</span><i class="c-icon--triangle"></i></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link u-fwb"><span>スタア発掘</span><i class="c-icon--triangle"></i></a></li>
        </ul>
      </div>
      <footer>
        <div class="footer__inner"><span class="u-fs--xs">©2016 kireinista Co.,Ltd.</span></div>
      </footer>
      <div data-target-close="target" class="overlay"></div>
    </div>
    <ul data-target-hamburgermenu="hamburger" class="nav-box u-fs--xs">
      <li class="nav-box__list--top">
        <div data-modal-trigger="login" class="c-button-square--s"><span>ログイン</span></div>
        <div data-target-close="target" class="_list--top__r"><i class="c-icon--cross"></i><span class="u-fs--xxxs">MENU</span></div>
      </li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--home"></i></span><span>HOME</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--secret"></i></span><span>シークレット求人</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--content"></i></span><span>コンテンツ一覧</span></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--book"></i></span><span>キレイJOB図鑑</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--beauty"></i></span><span>キレイにナルンダ</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--hat"></i></span><span>集客の知恵袋</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--star"></i></span><span>スタア発掘</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>キレイにスルンダとは</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>お問い合わせ</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>運営会社</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>プライバシーポリシー</span></a></li>
    </ul>
    <!--下記必要なくなるかも-->
    <ul data-target-searchmenu="search" class="nav-box--left u-fs--xs">
      <li class="nav-box__list--top">
        <div data-target-close="target" class="_list--top__r"><i class="c-icon--cross"></i><span class="u-fs--xxxs">SEARCH</span></div>
      </li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">職種</span><span data-target-history="target" class="nav-box__search__history">パティシエ</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">勤務地</span><span data-target-history="target" class="nav-box__search__history is-empty">東京都</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">雇用形態</span><span data-target-history="target" class="nav-box__search__history is-empty">---</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">こだわり</span><span data-target-history="target" class="nav-box__search__history is-empty">---</span></a></li>
    </ul>
    <div data-remodal-id="login" class="modal"><i data-remodal-action="close" class="c-icon--cross"></i>
      <div class="modal__inner u-fs--xs"><a href="#" class="c-button-square--social c-button-square--social--wide c-facebook"><span class="u-fs--xs">Facebookでログイン</span></a><a href="#" class="c-button-square--social c-button-square--social--wide c-twitter u-mt15"><span class="u-fs--xs">Twitterでログイン</span></a>
        <form>
          <input type="email" placeholder="メールアドレスでログイン" autocomplete="on" class="form--primary__text u-fs--l u-mt15">
          <input type="password" placeholder="パスワード" autocomplete="on" class="form--primary__text u-fs--l u-mt5">
          <p class="form--login__repletion u-fs--xs--lh--form u-mt10 u-txtr"><a href="#" data-modal-trigger="password">パスワードを忘れたかたはコチラ</a></p>
          <button type="submit" data-submit="trigger" class="c-button-square--full u-fs--xs u-mt10"><span class="button-inner">ログイン</span></button>
        </form><a href="#" data-modal-trigger="registration" class="c-button-circle u-mt20">メールアドレスで新規登録</a>
      </div>
    </div>
    <!--modal分岐password再設定-->
    <div data-remodal-id="password" class="modal"><i data-remodal-action="close" class="c-icon--cross"></i>
      <div class="modal__inner u-fs--xs">
        <h3 class="modal__inner__ttl u-fs--s u-fwb">パスワードの再設定</h3>
        <div class="modal__inner__text">
          登録したメールアドレスに、
          パスワードのリセット用のURLが届きます。
        </div>
        <form novalidate>
          <input type="email" placeholder="登録時のメールアドレス" data-mail="target" data-validate-password="target" autocomplete="on" required class="form--primary__text u-fs--l u-mt15">
          <div class="u-txtl">
            <p data-error="required" class="form__error u-fs--xxsh u-mt10">メールアドレスを入力して下さい</p>
            <p data-error="mail" class="form__error u-fs--xxsh u-mt10">メールアドレスの入力に誤りがあります。</p>
          </div>
          <button type="submit" data-submit-modalother="trigger" class="c-button-square--full u-fs--xs u-mt10"><span class="button-inner">送信</span></button>
        </form>
      </div>
    </div>
    <!--modal分岐新規登録-->
    <div data-remodal-id="registration" class="modal"><i data-remodal-action="close" class="c-icon--cross"></i>
      <div class="modal__inner u-fs--xs">
        <h3 class="modal__inner__ttl u-fs--s u-fwb">メールアドレスで新規登録</h3>
        <form novalidate>
          <input type="email" placeholder="メールアドレスでログイン" data-mail="target" autocomplete="on" data-validate-register="target" required class="form--primary__text u-fs--l u-mt15">
          <div class="u-txtl">
            <p data-error="required" class="form__error u-fs--xxsh u-mt10">メールアドレスを入力して下さい</p>
            <p data-error="mail" class="form__error u-fs--xxsh u-mt10">メールアドレスの入力に誤りがあります。</p>
          </div>
          <input type="password" placeholder="パスワード(6桁以上)" autocomplete="on" data-validate-register="target" data-maxlength="8" data-minlength="6" data-alphanumeric="target" required class="form--primary__text u-fs--l u-mt5">
          <div class="u-txtl">
            <p data-error="required" class="form__error u-fs--xxshl u-mt10">パスワードを入力してください。</p>
            <p data-error="minlength" class="form__error u-fs--xxsh u-mt10">6桁以上で入力して下さい</p>
            <p data-error="maxlength" class="form__error u-fs--xxsh u-mt10">8桁以下で入力して下さい</p>
            <p data-error="alphanumeric" class="form__error u-fs--xxsh u-mt10">半角英数で入力して下さい</p>
          </div>
          <button type="submit" data-submit-modal="trigger" class="c-button-square--full u-fs--xs u-mt10"><span class="button-inner">新規登録</span></button>
        </form>
        <div class="modal__inner__text--notes u-fs--xxsh u-txtl u-mt15">ログインまたは新規登録することにより、スタア発掘の利用規約、プライバシーポリシーに同意したことになります。</div>
      </div>
    </div>
    <!--.modal(data-remodal-id='complete')-->
    <!--	i.c-icon--close(data-remodal-action='close')-->
    <!--	.modal__inner.u-fs--xs-->
    <!--		h3.modal__ttl-->
    <!--			| メールアドレスで新規登録-->
    <!--		.modal__inner__text-->
    <!--			| 本人確認のため、登録されたメールアドレスにメールが送信されました。-->
    <!--			| メール内のURLをクリックして、登録を完了させてください。-->
    <!--		p.modal__ttl-->
    <!--			| 会員登録ありがとうございました。-->
    <!--		.modal__inner__text--notes.modal__inner__text--notes--border-->
    <!--			| ※メールが届かない場合は、メールアドレスが間違っている場合がありますので、お手数をお掛けいたしますが、再度ご登録のお手続きを行ってください。-->
    <script src="../../js/app.js"></script>
  </body>
</html>
