gulp_coporation/src/jade/login/forget_password_error.jade
- var page = 'login'
- var title = '食べるんだ管理画面 - パスワードを再設定する'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body
		.primary-login.box--forget--pass
			.primary-login__logo
				img(src='../img/svg/logo.svg', alt='logo')
			.primary-login__short
				p
					|パスワードの再設定、又はパスワードを忘れた方は、
					br
					|登録されたメールアドレスを入力して送信ボタンを押してください。
					br
					|入力したメールアドレスにパスワード再設定用URLが送信されます。
			.form--login__middle
				form(action='', name='forget_pass', method='post')
					.form-group.email
						input#email.form-control.error(name='email', placeholder='メールアドレス', maxlength='100', type='text',value='xuong.banh@jellyfishhr.com',required='required')
						p.label_error.u-mt10 ※このメールアドレスは登録されていません
					.row.padding--top--10
						button.btn.btn-success.btn--full(type='submit') 送信
				.text-center
					a(href="/login/index.html") > ログイン画面に戻る
		script(src='#{domain}js/app.js')

gulp_coporation/dist/login/forget_password_error.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>食べるんだ管理画面 - パスワードを再設定する</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <link rel="stylesheet" href="../css/app.css">
    <!--link(rel="shortcut icon", href="/ico/favicon.ico")-->
    <!--link(rel="icon" type="image/png" href="/ico/favicon.png" sizes="32x32")-->
  </head>
  <body>
    <div class="primary-login box--forget--pass">
      <div class="primary-login__logo"><img src="../img/svg/logo.svg" alt="logo"></div>
      <div class="primary-login__short">
        <p>パスワードの再設定、又はパスワードを忘れた方は、<br>登録されたメールアドレスを入力して送信ボタンを押してください。<br>入力したメールアドレスにパスワード再設定用URLが送信されます。</p>
      </div>
      <div class="form--login__middle">
        <form action="" name="forget_pass" method="post">
          <div class="form-group email">
            <input id="email" name="email" placeholder="メールアドレス" maxlength="100" type="text" value="xuong.banh@jellyfishhr.com" required="required" class="form-control error">
            <p class="label_error u-mt10">※このメールアドレスは登録されていません</p>
          </div>
          <div class="row padding--top--10">
            <button type="submit" class="btn btn-success btn--full">送信</button>
          </div>
        </form>
        <div class="text-center"><a href="/login/index.html">> ログイン画面に戻る</a></div>
      </div>
    </div>
    <script src="../js/app.js"></script>
  </body>
</html>
