gulp_coporation/dist/login/forget_password2_error.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>食べるんだ管理画面 - 採用担当者様用ログイン</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <link rel="stylesheet" href="../css/app.css">
    <!--link(rel="shortcut icon", href="/ico/favicon.ico")-->
    <!--link(rel="icon" type="image/png" href="/ico/favicon.png" sizes="32x32")-->
  </head>
  <body>
    <div class="primary-login box--reset--pass">
      <div class="primary-login__logo"><img src="../img/svg/logo.svg" alt="logo">
        <h1 class="title-login">パスワード再設定画面</h1>
      </div>
      <div class="primary-login__short_resetpass text-center">このページはパスワードをリセットするフォームです。<br>覚えがない方は閉じてください。</div>
      <div class="form--login__middle">
        <form action="" name="" method="post">
          <div class="form-group email">
            <input id="password" name="password" placeholder="新しいパスワード" maxlength="100" type="password" value="########" required="required" class="form-control error">
            <p class="label_error u-mt10">※8桁以上の英数字をご入力ください</p>
          </div>
          <div class="password">
            <input id="password_confirm" name="password_confirm" placeholder="もう一度新しいパスワードをご入力ください" maxlength="100" value="########" type="password" required="required" class="form-control error">
            <p class="label_error u-mt10">※入力したパスワードに誤りがあります</p>
          </div>
          <div class="row u-mt30">
            <button type="submit" class="btn btn-success btn--full">リセット</button>
          </div>
        </form>
      </div>
    </div>
    <script src="../js/app.js"></script>
  </body>
</html>

gulp_coporation/src/jade/login/forget_password2_error.jade
- var page = 'login'
- var title = '食べるんだ管理画面 - 採用担当者様用ログイン'
- var domain = '../'
- var description = ''
- var keywords = ''
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body


		.primary-login.box--reset--pass
			.primary-login__logo
				img(src='../img/svg/logo.svg', alt='logo')
				h1.title-login パスワード再設定画面
			.primary-login__short_resetpass.text-center
					|このページはパスワードをリセットするフォームです。
					br
					|覚えがない方は閉じてください。
			.form--login__middle
				form(action='', name='', method='post')
					.form-group.email
						input#password.form-control.error(name='password', placeholder='新しいパスワード', maxlength='100', type='password',value='########',required='required')
						p.label_error.u-mt10 ※8桁以上の英数字をご入力ください
					.password
						input#password_confirm.form-control.error(name='password_confirm', placeholder='もう一度新しいパスワードをご入力ください', maxlength='100', value='########',type='password',required='required')
						p.label_error.u-mt10 ※入力したパスワードに誤りがあります
					.row.u-mt30
						button.btn.btn-success.btn--full(type='submit') リセット


		script(src='#{domain}js/app.js')
