gulp_coporation/src/jade/login/index_error.jade
- var page = 'login'
- var title = '食べるんだ管理画面 - 採用担当者様用ログイン'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body


		.primary-login
			.primary-login__logo
				img(src='../img/svg/logo.svg', alt='logo')
				h1.title-login 管理画面ログイン
			.form--login__middle
				form(action='', name='', method='post')
					.form-group.email
						input#email.form-control.error(name='email', placeholder='メールアドレス', maxlength='100', type='email',value='xuong.banh@jellyfishhr.com',required='required')
						p.label_error.u-mt10 ※メールアドレスが正しくありません
					.password
						input#password.form-control.error(name='password', placeholder='パスワード', maxlength='100', type='password',value='!@#$ABC',required='required')
						p.clear-both.u-mt10
							span.pull-left.label_error ※パスワードが正しくありません
							a(href="/login/forget_password.html" class='pull-right forget_pass pc') > パスワードを忘れた方こちら
					.row.u-mt30
						button.btn.btn-success.btn--full(type='submit') ログイン
					.text-center.u-mt25
						a(href="/login/forget_password.html" class='forget_pass sp') > パスワードを忘れた方こちら

		script(src='#{domain}js/app.js')

gulp_coporation/dist/login/index_error.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>食べるんだ管理画面 - 採用担当者様用ログイン</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <link rel="stylesheet" href="../css/app.css">
    <!--link(rel="shortcut icon", href="/ico/favicon.ico")-->
    <!--link(rel="icon" type="image/png" href="/ico/favicon.png" sizes="32x32")-->
  </head>
  <body>
    <div class="primary-login">
      <div class="primary-login__logo"><img src="../img/svg/logo.svg" alt="logo">
        <h1 class="title-login">管理画面ログイン</h1>
      </div>
      <div class="form--login__middle">
        <form action="" name="" method="post">
          <div class="form-group email">
            <input id="email" name="email" placeholder="メールアドレス" maxlength="100" type="email" value="xuong.banh@jellyfishhr.com" required="required" class="form-control error">
            <p class="label_error u-mt10">※メールアドレスが正しくありません</p>
          </div>
          <div class="password">
            <input id="password" name="password" placeholder="パスワード" maxlength="100" type="password" value="!@#$ABC" required="required" class="form-control error">
            <p class="clear-both u-mt10"><span class="pull-left label_error">※パスワードが正しくありません</span><a href="/login/forget_password.html" class="pull-right forget_pass pc">> パスワードを忘れた方こちら</a></p>
          </div>
          <div class="row u-mt30">
            <button type="submit" class="btn btn-success btn--full">ログイン</button>
          </div>
          <div class="text-center u-mt25"><a href="/login/forget_password.html" class="forget_pass sp">> パスワードを忘れた方こちら</a></div>
        </form>
      </div>
    </div>
    <script src="../js/app.js"></script>
  </body>
</html>
