__design/SP/entry/confirm/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>キレイにスルンダ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width,initial-scale=1.0 maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../../css/app.css">
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="../../img/desktopicon.png">
    <link rel="icon" type="image/png" href="/ico/favicon.png" sizes="32x32">
  </head>
  <body>
    <div data-target-wrap="hamburger" class="globalmenu__wrap">
      <header class="header--primary">
        <div class="header--primary__inner u-cf">
          <div data-trigger-quicksearch="quicksearch" class="header--primary__search"><i class="c-icon--search"></i><span class="-primary__search__text">SEARCH</span></div>
          <h2 class="header--primary__logo"><a href="#"><img src="../../img/svg/top-logo.svg" alt="キレイにスルンダ"></a></h2>
          <div class="header--primary__right">
            <div data-trigger-hamburgermenu="hamburger" class="nav--hamburger"><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__text">MENU</span></div>
          </div>
        </div>
      </header>
      <div class="primary-box--noPadding">
        <div class="form--primary__topBlock">
          <h1 class="form--primary__topBlock__ttl u-fs--m u-fwb">応募フォーム</h1>
          <div class="flow__arrow u-fs--xs--contents"><span class="c-icon--flow--l">1.登録</span><span class="c-icon--flow--c--is">2.確認</span><span class="c-icon--flow--r">3.応募完了</span></div>
        </div>
        <div class="form--primary form--primary--recruit u-mt10">
          <h2 class="form--primary__heading u-fs--sh">基本情報</h2>
          <table class="form--primary__table">
            <tbody>
              <tr class="-contact__table__row -contact__table__row--noborder">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">お名前<span class="c-tag--form--required u-fs--xxs">必須</span></td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">田中一郎</span></td>
              </tr>
              <tr class="-contact__table__row u-mt20">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">フリガナ<span class="c-tag--form--required u-fs--xxs">必須</span></td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">タナカイチロウ</span></td>
              </tr>
              <tr class="-contact__table__row u-mt20">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">性別<span class="c-tag--form--required u-fs--xxs">必須</span></td>
                <td class="form--primary__detail u-mt10">
                  <div class="-contact__radio__block"><span class="u-fs--l">男</span></div>
                </td>
              </tr>
              <tr class="-contact__table__row u-mt20 -contact__table__row--ovh">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">生年月日<span class="c-tag--form--required u-fs--xxs">必須</span></td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">0000年00月00日</span></td>
              </tr>
              <tr class="-contact__table__row u-mt20">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">メールアドレス<span class="c-tag--form--required u-fs--xxs">必須</span></td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">example@runda.com</span></td>
              </tr>
              <tr class="-contact__table__row -contact__table__row--ovh u-mt20">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">住所<span class="c-tag--form--required u-fs--xxs">必須</span></td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">東京都足立区</span></td>
              </tr>
              <tr class="-contact__table__row u-mt20">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">電話番号<span class="c-tag--form--required u-fs--xxs">必須</span></td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">09000000000</span></td>
              </tr>
              <tr class="-contact__table__row u-mt20">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">現在の就業状況<span class="c-tag--form--required u-fs--xxs">必須</span></td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">在職中（飲食関係）</span></td>
              </tr>
              <tr class="-contact__table__row u-mt20">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">入社可能時期<span class="c-tag--form--required u-fs--xxs">必須</span></td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">1ヶ月以内</span></td>
              </tr>
              <tr class="-contact__table__row u-mt20">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">希望連絡時間・連絡方法</td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">平日午前中/メール連絡希望</span></td>
              </tr>
              <tr class="-contact__table__row u-mt20">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">取得資格</td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">調理師/栄養士/ソムリエ</span></td>
              </tr>
              <tr class="-contact__table__row u-mt20">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">職務経歴・自己PR</td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--lh">
                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</span></td>
              </tr>
            </tbody>
          </table>
          <h2 class="form--primary__heading u-fs--sh u-mt20">希望職種</h2>
          <p class="-primary__table__check__ttl u-fs--s u-fwb u-mt30">Liquor Importers株式会社</p>
          <div class="-primary__table__check u-fs--xs">
            <div class="u-fs--l u-mt20">
              パティシエ
              /
              販売スタッフ
            </div>
          </div>
          <h2 class="form--primary__heading u-fs--sh u-mt20">希望雇用形態</h2>
          <div class="-primary__table__check u-fs--l u-mt20">アルバイト</div>
          <div class="form__button__block--multi u-mt30"><a href="#" class="form__text--link u-mt10">
              利用規約
              に同意して</a>
            <div class="_block--multi__inner u-mt10"><a href="#" class="c-button-square--l--gray u-fs--xs u-fwb">修正する</a>
              <button type="submit" action="" data-submit="trigger" class="c-button-square--l u-fs--xs u-fwb"><span class="button-inner">送信する</span></button>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="footer__inner"><span class="u-fs--xs">©2016 kireinista Co.,Ltd.</span></div>
      </footer>
      <div data-target-close="target" class="overlay"></div>
    </div>
    <ul data-target-hamburgermenu="hamburger" class="nav-box u-fs--xs">
      <li class="nav-box__list--top">
        <div data-modal-trigger="login" class="c-button-square--s"><span>ログイン</span></div>
        <div data-target-close="target" class="_list--top__r"><i class="c-icon--cross"></i><span class="u-fs--xxxs">MENU</span></div>
      </li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--home"></i></span><span>HOME</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--secret"></i></span><span>シークレット求人</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--content"></i></span><span>コンテンツ一覧</span></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--book"></i></span><span>キレイJOB図鑑</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--beauty"></i></span><span>キレイにナルンダ</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--hat"></i></span><span>集客の知恵袋</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--star"></i></span><span>スタア発掘</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>キレイにスルンダとは</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>お問い合わせ</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>運営会社</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>プライバシーポリシー</span></a></li>
    </ul>
    <!--下記必要なくなるかも-->
    <ul data-target-searchmenu="search" class="nav-box--left u-fs--xs">
      <li class="nav-box__list--top">
        <div data-target-close="target" class="_list--top__r"><i class="c-icon--cross"></i><span class="u-fs--xxxs">SEARCH</span></div>
      </li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">職種</span><span data-target-history="target" class="nav-box__search__history">パティシエ</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">勤務地</span><span data-target-history="target" class="nav-box__search__history is-empty">東京都</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">雇用形態</span><span data-target-history="target" class="nav-box__search__history is-empty">---</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">こだわり</span><span data-target-history="target" class="nav-box__search__history is-empty">---</span></a></li>
    </ul>
    <div data-remodal-id="login" class="modal"><i data-remodal-action="close" class="c-icon--cross"></i>
      <div class="modal__inner u-fs--xs"><a href="#" class="c-button-square--social c-button-square--social--wide c-facebook"><span class="u-fs--xs">Facebookでログイン</span></a><a href="#" class="c-button-square--social c-button-square--social--wide c-twitter u-mt15"><span class="u-fs--xs">Twitterでログイン</span></a>
        <form>
          <input type="email" placeholder="メールアドレスでログイン" autocomplete="on" class="form--primary__text u-fs--l u-mt15">
          <input type="password" placeholder="パスワード" autocomplete="on" class="form--primary__text u-fs--l u-mt5">
          <p class="form--login__repletion u-fs--xs--lh--form u-mt10 u-txtr"><a href="#" data-modal-trigger="password">パスワードを忘れたかたはコチラ</a></p>
          <button type="submit" data-submit="trigger" class="c-button-square--full u-fs--xs u-mt10"><span class="button-inner">ログイン</span></button>
        </form><a href="#" data-modal-trigger="registration" class="c-button-circle u-mt20">メールアドレスで新規登録</a>
      </div>
    </div>
    <!--modal分岐password再設定-->
    <div data-remodal-id="password" class="modal"><i data-remodal-action="close" class="c-icon--cross"></i>
      <div class="modal__inner u-fs--xs">
        <h3 class="modal__inner__ttl u-fs--s u-fwb">パスワードの再設定</h3>
        <div class="modal__inner__text">
          登録したメールアドレスに、
          パスワードのリセット用のURLが届きます。
        </div>
        <form novalidate>
          <input type="email" placeholder="登録時のメールアドレス" data-mail="target" data-validate-password="target" autocomplete="on" required class="form--primary__text u-fs--l u-mt15">
          <div class="u-txtl">
            <p data-error="required" class="form__error u-fs--xxsh u-mt10">メールアドレスを入力して下さい</p>
            <p data-error="mail" class="form__error u-fs--xxsh u-mt10">メールアドレスの入力に誤りがあります。</p>
          </div>
          <button type="submit" data-submit-modalother="trigger" class="c-button-square--full u-fs--xs u-mt10"><span class="button-inner">送信</span></button>
        </form>
      </div>
    </div>
    <!--modal分岐新規登録-->
    <div data-remodal-id="registration" class="modal"><i data-remodal-action="close" class="c-icon--cross"></i>
      <div class="modal__inner u-fs--xs">
        <h3 class="modal__inner__ttl u-fs--s u-fwb">メールアドレスで新規登録</h3>
        <form novalidate>
          <input type="email" placeholder="メールアドレスでログイン" data-mail="target" autocomplete="on" data-validate-register="target" required class="form--primary__text u-fs--l u-mt15">
          <div class="u-txtl">
            <p data-error="required" class="form__error u-fs--xxsh u-mt10">メールアドレスを入力して下さい</p>
            <p data-error="mail" class="form__error u-fs--xxsh u-mt10">メールアドレスの入力に誤りがあります。</p>
          </div>
          <input type="password" placeholder="パスワード(6桁以上)" autocomplete="on" data-validate-register="target" data-maxlength="8" data-minlength="6" data-alphanumeric="target" required class="form--primary__text u-fs--l u-mt5">
          <div class="u-txtl">
            <p data-error="required" class="form__error u-fs--xxshl u-mt10">パスワードを入力してください。</p>
            <p data-error="minlength" class="form__error u-fs--xxsh u-mt10">6桁以上で入力して下さい</p>
            <p data-error="maxlength" class="form__error u-fs--xxsh u-mt10">8桁以下で入力して下さい</p>
            <p data-error="alphanumeric" class="form__error u-fs--xxsh u-mt10">半角英数で入力して下さい</p>
          </div>
          <button type="submit" data-submit-modal="trigger" class="c-button-square--full u-fs--xs u-mt10"><span class="button-inner">新規登録</span></button>
        </form>
        <div class="modal__inner__text--notes u-fs--xxsh u-txtl u-mt15">ログインまたは新規登録することにより、スタア発掘の利用規約、プライバシーポリシーに同意したことになります。</div>
      </div>
    </div>
    <!--.modal(data-remodal-id='complete')-->
    <!--	i.c-icon--close(data-remodal-action='close')-->
    <!--	.modal__inner.u-fs--xs-->
    <!--		h3.modal__ttl-->
    <!--			| メールアドレスで新規登録-->
    <!--		.modal__inner__text-->
    <!--			| 本人確認のため、登録されたメールアドレスにメールが送信されました。-->
    <!--			| メール内のURLをクリックして、登録を完了させてください。-->
    <!--		p.modal__ttl-->
    <!--			| 会員登録ありがとうございました。-->
    <!--		.modal__inner__text--notes.modal__inner__text--notes--border-->
    <!--			| ※メールが届かない場合は、メールアドレスが間違っている場合がありますので、お手数をお掛けいたしますが、再度ご登録のお手続きを行ってください。-->
    <script src="../../js/app.js"></script>
  </body>
</html>

__gulp/lunda_beauty_sp/src/jade/entry/confirm/index.jade
- var page = 'contents_trend'
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'

doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../../partial/_header
			.primary-box--noPadding
				.form--primary__topBlock
					h1.form--primary__topBlock__ttl.u-fs--m.u-fwb
						| 応募フォーム
					.flow__arrow.u-fs--xs--contents
						span.c-icon--flow--l
							| 1.登録
						span.c-icon--flow--c--is
							| 2.確認
						span.c-icon--flow--r
							| 3.応募完了
				.form--primary.form--primary--recruit.u-mt10
					h2.form--primary__heading.u-fs--sh 基本情報
					table.form--primary__table
						tbody
							tr.-contact__table__row.-contact__table__row--noborder
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| お名前
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l 田中一郎
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| フリガナ
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l タナカイチロウ
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 性別
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									div.-contact__radio__block
										span.u-fs--l 男
							tr.-contact__table__row.u-mt20.-contact__table__row--ovh
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 生年月日
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l 0000年00月00日
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| メールアドレス
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l example@runda.com
							tr.-contact__table__row.-contact__table__row--ovh.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 住所
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l 東京都足立区
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 電話番号
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l
										| 09000000000
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 現在の就業状況
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l 在職中（飲食関係）
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 入社可能時期
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt10
									span.u-fs--l 1ヶ月以内
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 希望連絡時間・連絡方法
								td.form--primary__detail.u-mt10
									span.u-fs--l 平日午前中/メール連絡希望
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 取得資格
								td.form--primary__detail.u-mt10
									span.u-fs--l 調理師/栄養士/ソムリエ
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									| 職務経歴・自己PR
								td.form--primary__detail.u-mt10
									span.u-fs--lh
										| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
										| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					h2.form--primary__heading.u-fs--sh.u-mt20 希望職種
					p.-primary__table__check__ttl.u-fs--s.u-fwb.u-mt30 Liquor Importers株式会社
					.-primary__table__check.u-fs--xs
						.u-fs--l.u-mt20
							| パティシエ
							|/
							| 販売スタッフ
					h2.form--primary__heading.u-fs--sh.u-mt20 希望雇用形態
					.-primary__table__check.u-fs--l.u-mt20
							| アルバイト
					.form__button__block--multi.u-mt30
						a.form__text--link.u-mt10(href="#") 利用規約
							| に同意して
						._block--multi__inner.u-mt10
							a.c-button-square--l--gray.u-fs--xs.u-fwb(href="#")
								| 修正する
							button.c-button-square--l.u-fs--xs.u-fwb(type="submit" action="" data-submit='trigger')
								span.button-inner 送信する
			include ../../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../../partial/_leftNav
		include ../../partial/modal/_login
		script(src='#{domain}js/app.js')
