website/public/sp/html/entry/confirm/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>キレイにスルンダ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width,initial-scale=1.0 maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../../css/app.css">
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link rel="icon" type="image/png" href="/ico/favicon.png" sizes="32x32">
  </head>
  <body>
    <div data-target-wrap="hamburger" class="globalmenu__wrap">
      <header class="header--primary">
        <div class="header--primary__inner u-cf">
          <div data-trigger-quicksearch="quicksearch" class="header--primary__search"><i class="c-icon--search"></i><span class="-primary__search__text">SEARCH</span></div>
          <h2 class="header--primary__logo"><a href="#"><img src="../../img/svg/top-logo.svg" alt="キレイにスルンダ"></a></h2>
          <div class="header--primary__right">
            <div data-trigger-hamburgermenu="hamburger" class="nav--hamburger"><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__text">MENU</span></div>
          </div>
        </div>
      </header>
      <div class="primary-box--noPadding">
        <div class="form--primary__topBlock">
          <h1 class="form--primary__topBlock__ttl u-fs--m u-fwb">応募フォーム</h1>
          <div class="flow__arrow u-fs--xs--contents"><span class="c-icon--flow--l">1.登録</span><span class="c-icon--flow--c--is">2.確認</span><span class="c-icon--flow--r">3.応募完了</span></div>
        </div>
        <div class="form--primary form--primary--recruit u-mt10">
          <h2 class="form--primary__heading u-fs--sh">基本情報</h2>
          <table class="form--primary__table">
            <tbody>
              <tr class="-contact__table__row -contact__table__row--noborder">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">お名前</td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">田中一郎</span></td>
              </tr>
              <tr class="-contact__table__row u-mt20">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">フリガナ</td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">タナカイチロウ</span></td>
              </tr>
              <tr class="-contact__table__row u-mt20">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">性別</td>
                <td class="form--primary__detail u-mt10">
                  <div class="-contact__radio__block"><span class="u-fs--l">男</span></div>
                </td>
              </tr>
              <tr class="-contact__table__row u-mt20 -contact__table__row--ovh">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">生年月日</td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">0000年00月00日</span></td>
              </tr>
              <tr class="-contact__table__row u-mt20">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">メールアドレス</td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">example@runda.com</span></td>
              </tr>
              <tr class="-contact__table__row -contact__table__row--ovh u-mt20">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">住所</td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">東京都足立区</span></td>
              </tr>
              <tr class="-contact__table__row u-mt20">
                <td class="form--primary__ttl u-fs--s u-fwb u-mt20">電話番号</td>
                <td class="form--primary__detail u-mt10"><span class="u-fs--l">09000000000</span></td>
              </tr>
            </tbody>
          </table>
          <h2 class="form--primary__heading u-fs--sh u-mt20">希望職種</h2>
          <p class="-primary__table__check__ttl u-fs--s u-fwb u-mt30">Liquor Importers株式会社</p>
          <div class="-primary__table__check u-fs--xs">
            <div class="u-fs--l u-mt20">
              パティシエ
              /
              販売スタッフ
            </div>
          </div>
          <h2 class="form--primary__heading u-fs--sh u-mt20">希望雇用形態</h2>
          <div class="-primary__table__check u-fs--l u-mt20">アルバイト</div>
          <div class="form__button__block--multi u-mt30"><a href="#" class="form__text--link u-mt10">
              利用規約
              に同意して</a>
            <div class="_block--multi__inner u-mt10"><a href="#" class="c-button-square--l--gray u-fs--xs u-fwb">修正する</a>
              <button type="submit" action="" data-submit="trigger" class="c-button-square--l u-fs--xs u-fwb"><span class="button-inner">送信する</span></button>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="footer__inner"><span class="u-fs--xs">&copy;2016 Wiz Co.,Ltd.</span></div>
      </footer>
      <div data-target-close="target" class="overlay"></div>
    </div>
    <ul data-target-hamburgermenu="hamburger" class="nav-box u-fs--xs">
      <li class="nav-box__list--top">
        <div data-modal-trigger="login" class="c-button-square--s"><span>ログイン</span></div>
        <div data-target-close="target" class="_list--top__r"><i class="c-icon--close"></i><span>MENU</span></div>
      </li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--home"></i></span><span>HOME</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--secret"></i></span><span>シークレット求人</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--content"></i></span><span>コンテンツ一覧</span></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--work"></i></span><span>お仕事図鑑</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--interview"></i></span><span>インタビュー</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--trend"></i></span><span>トレンド</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--career"></i></span><span>転職・キャリア</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--skill"></i></span><span>スキル</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--chopsticks"></i></span><span>箸やすめ</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>キレイにスルンダとは</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>お問い合わせ</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>運営会社</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>プライバシーポリシー</span></a></li>
    </ul>
    <!--下記必要なくなるかも-->
    <ul data-target-searchmenu="search" class="nav-box--left u-fs--xs">
      <li class="nav-box__list--top">
        <div data-target-close="target" class="_list--top__r"><i class="c-icon--close"></i><span>SEARCH</span></div>
      </li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span>職種で検索</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span>勤務地で検索</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span>雇用形態で検索</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span>こだわりで検索</span></a></li>
    </ul>
    <div data-remodal-id="login" class="modal"><i data-remodal-action="close" class="c-icon--close"></i>
      <div class="modal__inner u-fs--xs"><a href="#" class="c-button-square--social c-facebook"><span class="u-fs--xs u-fwb">Facebookでログイン</span></a><a href="#" class="c-button-square--social c-twitter u-mt15"><span class="u-fs--xs u-fwb">Twitterでログイン</span></a>
        <form>
          <input type="email" placeholder="メールアドレスでログイン" autocomplete="on" class="form--primary__text u-fs--l u-mt15">
          <input type="password" placeholder="パスワード" autocomplete="on" class="form--primary__text u-fs--l u-mt5">
          <p class="form--login__repletion u-fs--xs--lh--form u-mt10 u-txtr"><a href="#">パスワードを忘れたかたはコチラ</a></p>
          <button type="submit" data-submit="trigger" class="c-button-square--l u-fs--l u-fwb u-mt10"><span class="button-inner">ログイン</span></button>
        </form>
      </div>
    </div>
    <script src="../../js/app.js"></script>
  </body>
</html>

__gulp/lunda_beauty_sp/src/jade/entry/thanks/index.jade
- var page = 'contents_trend'
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'

doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../../partial/_header
			.primary-box--noPadding
				.form--primary__topBlock
					h1.form--primary__topBlock__ttl.u-fs--m.u-fwb
						| 応募フォーム
					.flow__arrow.u-fs--xs--contents
						span.c-icon--flow--l
							| 1.登録
						span.c-icon--flow--c
							| 2.確認
						span.c-icon--flow--r--is
							| 3.応募完了
				//.primary-box--fixHeight
				.primary-box--full__confirm
					.form--primary
						p.form--primary__thanks.u-fs--mh.u-fwb.u-mt30
							| お問い合せが完了しました。
							br
							| 誠にありがとうございます。
						p.-contact__thanks__text.u-fs--xsh.u-mt30
							| 3~5営業日以内に担当よりご連絡いたしますので、
							br
							| 今しばらくお待ちください。
							br
							| 万が一返信がない場合、恐れ入りますが、
							br
							| info@taberunda.jpまで
							br
							| 直接ご連絡いただくようお願いいたします。
					.form__button__block--noborder.form__button__block--thanks.u-mt20
						p.u-fs--s.u-txtc
							a.c-button-square--l.u-fs--xs.u-fwb(href="#")
								span.button-inner
									|HOMEへ

			include ../../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../../partial/_leftNav
		include ../../partial/modal/_login
		script(src='#{domain}js/app.js')
