__gulp/lunda_beauty/src/jade/about/company/index.jade
- var page = 'contact'
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		include ../../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span
					|運営会社
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					h1.column-left__ttl--normal.u-fs--xxl--contents
						|運営会社
					.table--primary.u-mt10
						table
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									|商
									| &nbsp;
									|号
								td.table--primary__detail
									div
										span.u-fs--l #{config.company}
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									|所在地
								td.table--primary__detail
									div
										span.u-fs--l 東京都豊島区南大塚2-25-15
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									|設
									|&nbsp;
									|立
								td.table--primary__detail
									span.u-fs--l 平成28年9月1日
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									|事業内容
								td.table--primary__detail
									div
										span.u-fs--lh--contents
											| メディアサイト運営 / Web広告事業
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									| 代表取締役
								td.table--primary__detail
									div
										span.u-fs--l 鈴木 清未
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									| 資本金
								td.table--primary__detail
									div
										span.u-fs--l 300万円
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									| 決算期
								td.table--primary__detail
									div
										span.u-fs--l 8月
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									| HP
								td.table--primary__detail
									div
										a(href="http://kireinista.jp")
											span.u-fs--l http://kireinista.jp
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../../partial/_nav
						.column-box--right__search.u-mt30
							include ../../partial/form/_quick_search_right
		include ../../partial/_footer
		script(src='#{domain}js/app.js')

website/public/html/contact/thanks/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>キレイにスルンダ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=1080">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/public/img/ico/favicon.ico">
    <link rel="icon" type="image/png" href="/public/img/ico/favicon.png" sizes="32x32">
    <!--link(rel="apple-touch-icon-precomposed" href='#{domain}img/clipicon.png')-->
    <!--script.-->
    <!--    (function (i, s, o, g, r, a, m) {-->
    <!--        i['GoogleAnalyticsObject'] = r;-->
    <!--        i[r] = i[r] || function () {-->
    <!--                    (i[r].q = i[r].q || []).push(arguments)-->
    <!--                }, i[r].l = 1 * new Date();-->
    <!--        a = s.createElement(o),-->
    <!--                m = s.getElementsByTagName(o)[0];-->
    <!--        a.async = 1;-->
    <!--        a.src = g;-->
    <!--        m.parentNode.insertBefore(a, m)-->
    <!--    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');-->
    <!--    ga('create', 'UA-31867051-1', '012grp.co.jp');-->
    <!--    ga('require', 'linkid', 'linkid.js');-->
    <!--    ga('send', 'pageview');-->
    
    
    
  </head>
  <body>
    <header class="header--primary">
      <div class="header--primary__inner u-cf">
        <div data-trigger-quicksearch="quicksearch" class="header--primary__search"><i class="c-icon--search"></i><span class="-primary__search__text u-fs--xxxs">SEARCH</span></div>
        <h2 class="header--primary__logo"><a href="#"><img src="/public/img/svg/top-logo.svg" alt="キレイにスルンダ"></a></h2>
        <div class="header--primary__right"><a href="#" class="c-button-square--s"><span class="u-fs--l u-fwb">ログイン</span></a>
          <div data-trigger-hamburgermenu="hamburger" class="nav--hamburger"><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__text u-fs--xxxs">MENU</span></div>
        </div>
        <form data-target-quicksearch="quicksearch" class="quick-search quick-search--inHeader is-disable">
          <div class="-search--inHeader__inner">
            <div class="quick-search__select__wrap c-icon__wrapper--triangle">
              <select name="都道府県" class="quick-search__select u-fs--m">
                <option value="" selected>都道府県</option>
                <option value="北海道">北海道</option>
                <option value="青森県">青森県</option>
                <option value="岩手県">岩手県</option>
                <option value="宮城県">宮城県</option>
                <option value="秋田県">秋田県</option>
                <option value="山形県">山形県</option>
                <option value="福島県">福島県</option>
                <option value="茨城県">茨城県</option>
                <option value="栃木県">栃木県</option>
                <option value="群馬県">群馬県</option>
                <option value="埼玉県">埼玉県</option>
                <option value="千葉県">千葉県</option>
                <option value="東京都">東京都</option>
                <option value="神奈川県">神奈川県</option>
                <option value="新潟県">新潟県</option>
                <option value="富山県">富山県</option>
                <option value="石川県">石川県</option>
                <option value="福井県">福井県</option>
                <option value="山梨県">山梨県</option>
                <option value="長野県">長野県</option>
                <option value="岐阜県">岐阜県</option>
                <option value="静岡県">静岡県</option>
                <option value="愛知県">愛知県</option>
                <option value="三重県">三重県</option>
                <option value="滋賀県">滋賀県</option>
                <option value="京都府">京都府</option>
                <option value="大阪府">大阪府</option>
                <option value="兵庫県">兵庫県</option>
                <option value="奈良県">奈良県</option>
                <option value="和歌山県">和歌山県</option>
                <option value="鳥取県">鳥取県</option>
                <option value="島根県">島根県</option>
                <option value="岡山県">岡山県</option>
                <option value="広島県">広島県</option>
                <option value="山口県">山口県</option>
                <option value="徳島県">徳島県</option>
                <option value="香川県">香川県</option>
                <option value="愛媛県">愛媛県</option>
                <option value="高知県">高知県</option>
                <option value="福岡県">福岡県</option>
                <option value="佐賀県">佐賀県</option>
                <option value="長崎県">長崎県</option>
                <option value="熊本県">熊本県</option>
                <option value="大分県">大分県</option>
                <option value="宮崎県">宮崎県</option>
                <option value="鹿児島県">鹿児島県</option>
                <option value="沖縄県">沖縄県</option>
              </select>
            </div><span class="c-icon--cross"></span>
            <div class="quick-search__select__wrap c-icon__wrapper--triangle">
              <select name="雇用形態" class="quick-search__select u-fs--m">
                <option value="正社員">正社員</option>
                <option value="その他">その他</option>
                <option value="契約社員">契約社員</option>
                <option value="業務委託">業務委託</option>
                <option value="アルバイト">アルバイト</option>
              </select>
            </div><span class="c-icon--cross"></span>
            <input type="text" placeholder="キーワード" class="quick-search__input u-fs--m">
            <button type="submit" class="c-button-square--m u-fs--l"><span class="button-inner">カンタン検索</span></button>
          </div>
        </form>
        <ul data-target-hamburgermenu="hamburger" class="nav-box u-fs--xs nav-box--inHeader is-disable">
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--home"></i></span><span>HOME</span></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--secret"></i></span><span>シークレット求人</span></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--content"></i></span><span>コンテンツまとめ</span></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--book"></i></span><span>キレイJOB図鑑</span></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--beauty"></i></span><span>キレイにナルンダ</span></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--hat"></i></span><span>集客の知恵袋</span></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--star-other"></i></span><span>スタア発掘</span></a></li>
        </ul>
      </div>
    </header>
    <div class="primary-box">
      <div class="breadcrumb u-fs--xxs"><a href="#"><span>HOME</span></a><span class="breadcrumb__arrow__text u-arrow__text">&gt;</span><span>お問い合わせ</span></div>
      <div data-target-maincolumn="target" class="primary-box__inner u-mt20">
        <div data-target-leftcolumn="target" class="column-left">
          <h1 class="column-left__ttl--normal u-fs--xxl--contents">お問い合わせ</h1>
          <div class="form--primary u-mt10">
            <p class="form--primary__thanks u-fs--xxlh--contents u-fwb u-mt35">お問い合せが完了しました。<br>誠にありがとうございます。</p>
            <p class="-contact__thanks__text u-fs--lh--contents u-mt50">3~5営業日以内に担当よりご連絡いたしますので、今しばらくお待ちください。<br>万が一返信がない場合、恐れ入りますが、<br>info@taberunda.jpまで直接ご連絡いただくようお願いいたします。</p>
            <div class="-contact__button__block u-mt50">
              <div class="c-button-square--l u-fs--xxl u-fwb"><a href="#">HOMEへ</a></div>
            </div>
          </div>
        </div>
        <div class="column-right">
          <div data-target-rightcolumn="target" class="column-right__inner">
            <div class="column-box--rightTop">
              <div class="column-box__ttl u-fs--s u-fwb">〈今日のキレイにスルンダ!〉</div>
              <div class="column-box--rightTop__num"><span class="-rightTop__num__subText u-fs--l">求人数</span><span data-target-numcheck="6" class="-rightTop__num__text u-fs--xxxl u-fwb">00,000</span><span class="-rightTop__num__subText u-fs--l">件</span></div>
              <div class="c-icon--circle--baloon"><i class="c-icon--triangle--rotate"></i><span class="-rightTop__new__subText u-fs--l">新着</span>
                <p data-target-numcheck="3" class="-rightTop__new__text u-fs--xl u-fwb">000<span class="u-fs--xxs">件</span></p>
              </div>
            </div>
            <ul class="nav-box u-fs--xs u-mt30">
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--home"></i></span><span>HOME</span></a></li>
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--secret"></i></span><span>シークレット求人</span></a></li>
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--content"></i></span><span>コンテンツまとめ</span></a></li>
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--book"></i></span><span>キレイJOB図鑑</span></a></li>
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--beauty"></i></span><span>キレイにナルンダ</span></a></li>
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--hat"></i></span><span>集客の知恵袋</span></a></li>
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--star-other"></i></span><span>スタア発掘</span></a></li>
            </ul>
            <div class="column-box--right__search u-mt30">
              <div class="quick-search__select__wrap c-icon__wrapper--triangle">
                <select name="都道府県" class="quick-search__select u-fs--m">
                  <option value="" selected>都道府県</option>
                  <option value="北海道">北海道</option>
                  <option value="青森県">青森県</option>
                  <option value="岩手県">岩手県</option>
                  <option value="宮城県">宮城県</option>
                  <option value="秋田県">秋田県</option>
                  <option value="山形県">山形県</option>
                  <option value="福島県">福島県</option>
                  <option value="茨城県">茨城県</option>
                  <option value="栃木県">栃木県</option>
                  <option value="群馬県">群馬県</option>
                  <option value="埼玉県">埼玉県</option>
                  <option value="千葉県">千葉県</option>
                  <option value="東京都">東京都</option>
                  <option value="神奈川県">神奈川県</option>
                  <option value="新潟県">新潟県</option>
                  <option value="富山県">富山県</option>
                  <option value="石川県">石川県</option>
                  <option value="福井県">福井県</option>
                  <option value="山梨県">山梨県</option>
                  <option value="長野県">長野県</option>
                  <option value="岐阜県">岐阜県</option>
                  <option value="静岡県">静岡県</option>
                  <option value="愛知県">愛知県</option>
                  <option value="三重県">三重県</option>
                  <option value="滋賀県">滋賀県</option>
                  <option value="京都府">京都府</option>
                  <option value="大阪府">大阪府</option>
                  <option value="兵庫県">兵庫県</option>
                  <option value="奈良県">奈良県</option>
                  <option value="和歌山県">和歌山県</option>
                  <option value="鳥取県">鳥取県</option>
                  <option value="島根県">島根県</option>
                  <option value="岡山県">岡山県</option>
                  <option value="広島県">広島県</option>
                  <option value="山口県">山口県</option>
                  <option value="徳島県">徳島県</option>
                  <option value="香川県">香川県</option>
                  <option value="愛媛県">愛媛県</option>
                  <option value="高知県">高知県</option>
                  <option value="福岡県">福岡県</option>
                  <option value="佐賀県">佐賀県</option>
                  <option value="長崎県">長崎県</option>
                  <option value="熊本県">熊本県</option>
                  <option value="大分県">大分県</option>
                  <option value="宮崎県">宮崎県</option>
                  <option value="鹿児島県">鹿児島県</option>
                  <option value="沖縄県">沖縄県</option>
                </select>
              </div><span class="c-icon--cross"></span>
              <div class="quick-search__select__wrap c-icon__wrapper--triangle">
                <select name="雇用形態" class="quick-search__select u-fs--m">
                  <option value="正社員">正社員</option>
                  <option value="その他">その他</option>
                  <option value="契約社員">契約社員</option>
                  <option value="業務委託">業務委託</option>
                  <option value="アルバイト">アルバイト</option>
                </select>
              </div><span class="c-icon--cross"></span>
              <input type="text" placeholder="キーワード" class="quick-search__input u-fs--m">
              <button type="submit" class="c-button-square--full u-fs--l u-mt20"><span class="button-inner">カンタン検索</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer__inner"><span data-trigger-totop="target" class="u-fs--s _inner__button--toTop c-button-square--toTop"><i class="_button--toTop__icon c-icon--triangle--top"></i>上に戻る</span>
        <ul class="footer__nav">
          <li class="u-fs--xxs _inner__block--left">
            <ul class="footer__inner__list">
              <li><span class="u-arrow__text">&gt;</span><a href="#">HOME</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">シークレット求人</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">コンテンツまとめ</a></li>
            </ul>
          </li>
          <li class="u-fs--xxs _inner__block--middle">
            <p class="_inner__block__title u-fwb">コンテンツカテゴリー</p>
            <ul class="footer__inner__rows footer__inner__list">
              <!--li-->
              <!--	span.u-arrow__text &gt;-->
              <!--	a(href="#")-->
              <!--		| #{config.category_1}-->
              <li><span class="u-arrow__text">&gt;</span><a href="#">キレイにナルンダ</a></li>
              <!--li-->
              <!--	span.u-arrow__text &gt;-->
              <!--	a(href="#")-->
              <!--		| #{config.category_4}-->
              <li><span class="u-arrow__text">&gt;</span><a href="#">キレイJOB図鑑</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">集客の知恵袋</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">スタア発掘</a></li>
            </ul>
          </li>
          <li class="u-fs--xxs _inner__block--right">
            <p class="_inner__block__title u-fwb">キレイにスルンダについて</p>
            <ul class="footer__inner__rows footer__inner__list">
              <li><span class="u-arrow__text">&gt;</span><a href="#">キレイにスルンダとは</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">お問い合わせ</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">運営会社</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">プライバシーポリシー</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">求人掲載について</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">ログイン/新規登録</a></li>
            </ul>
          </li>
          <li class="footer__social__block"><a href="#" class="c-button-square--social c-facebook"><i class="c-font-icon--facebook _social__block__icon u-fs--xxl"></i><span class="u-fs--l">シェア</span></a><a href="#" class="c-button-square--social c-twitter u-mt10"><i class="c-font-icon--twitter _social__block__icon u-fs--xxl"></i><span class="u-fs--l">ツイート</span></a>
            <p class="_social__block__text u-mt20">&copy;2016 kireinista Co.,Ltd.</p>
          </li>
        </ul>
      </div>
    </footer>
    <script src="/public/js/app.js"></script>
  </body>
</html>
