__design/SP/secret_kyujin/01.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>キレイにスルンダ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width,initial-scale=1.0 maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="../img/desktopicon.png">
    <link rel="icon" type="image/png" href="/ico/favicon.png" sizes="32x32">
  </head>
  <body>
    <div data-target-wrap="hamburger" class="globalmenu__wrap">
      <header class="header--primary">
        <div class="header--primary__inner u-cf">
          <div data-trigger-quicksearch="quicksearch" class="header--primary__search"><i class="c-icon--search"></i><span class="-primary__search__text">SEARCH</span></div>
          <h2 class="header--primary__logo"><a href="#"><img src="../img/svg/top-logo.svg" alt="キレイにスルンダ"></a></h2>
          <div class="header--primary__right">
            <div data-trigger-hamburgermenu="hamburger" class="nav--hamburger"><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__text">MENU</span></div>
          </div>
        </div>
      </header>
      <div class="primary-box--noPadding">
        <div class="contents-box--recruit__top">
          <h1 class="-recruit__top__ttl u-fwb u-fs--xs">Liquor Importers株式会社</h1>
          <div class="-recruit__top__inner">
            <div class="-wide__list__tagBlock u-mt20">
              <div class="-wide__list__tagBlock--l"><span class="u-fs--xxs c-tag--secret--flow">シークレット</span><span class="u-fs--xxs c-tag--celebration">入社お祝い金1万円</span></div>
              <div class="-wide__list__tagBlock--r"><span class="u-fs--xxs c-tag--new--flow">NEW</span></div>
            </div>
            <h2 class="contents-box--recruit__ttl u-fs--xlh u-mt10 u-fwb">まさにグローバル！世界のクラフトビールと世界各国の料理を提供する新たなレストラン5/20 銀座新店舗オープニング大募集</h2>
          </div>
          <div class="column-box__secret__slider u-mt15">
            <div data-target-slider="target" class="_secret__slider__main">
              <div class="_slider__main__img"><img src="../img/slider/slider_01.jpg" alt=""></div>
              <div class="_slider__main__img"><img src="../img/slider/slider_02.jpg" alt=""></div>
              <div class="_slider__main__img"><img src="../img/slider/slider_03.jpg" alt=""></div>
            </div>
          </div>
        </div>
        <div class="contents-box--recruit__middle u-mt15"><span class="c-tag--secret--detail u-fs--xs">未経験OK！</span><span class="c-tag--secret--detail u-fs--xs">未経験OK！</span><span class="c-tag--secret--detail u-fs--xs">未経験OK！</span>
          <h2 class="contents-box--recruit__ttl u-fs--xlh u-mt20 u-fwb">海外ビールの輸入販売を手がける専門商社が手がける、新しいコンセプトのグローバルなレストラン。5/20注目のNEWOPEN！</h2>
          <p class="contents-box__text u-fs--mh u-mt15">
            ロールキャベツはタネ作りに少し手聞がかかるイメージがあります。でも薄切り肉を使えばもっと簡単！
            春キャベツは生のまま、適当な大きさに切って薄切り肉を巻きます。火の通りも早いのでサッと煮こむのはもちろん、
            焼いたり蒸したり、衣をつけて揚げたりすれば、お好みのロールキャベツに。食感も楽しい新感覚の口ールキャベツをお試しください。
          </p>
          <h2 class="contents-box--recruit__ttl u-fs--xlh u-mt25 u-fwb">キッチン職希望の方へ！</h2>
          <p class="contents-box__text u-fs--mh u-mt15">
            シェフ（料理長）をめざしていただくことも可能です。シェフになると、メニュー開発、原価や売上などの数値管理、
            スタッフの採用ならびに育成、仕入先との折衝業務など、多岐に渡っておまかせします。
            ご利用になるすべての方にとって、居心地の良い空間になるような料理・サービスを心がけています。
          </p>
          <div class="contents-box--recruit__attention u-mt10"><span class="c-tag--notice u-fs--xxs u-fwb">注目ポイント！</span>
            <div class="-recruit__attention__top">
              <figure class="-recruit__attention__img"><img src="../img/secret/recruit.jpg"></figure>
              <h3 class="-recruit__attention__ttl u-fs--mh--contents u-fwb">国内最大級のビールの祭典である「スーパーオクトーバーフェスト」の主催・企画・運営なども手掛ける当社。</h3>
            </div>
            <p class="-recruit__attention__text u-fs--sh--recruit u-mt10">
              やる気次第で、どんどん活躍の場が広がる環境です。今後も様々な事業を展開する当社で、あなたもチャンスを掴みませんか？
              とにかくお酒に興味のある方大集合！海外とのつながりもあるので、国内ではまだ出回っていないホットな情報を知ることもできます。
              ビアテイスター、ビアジャッジの取得したいという方には、積極的にサポートしますよ！
            </p>
          </div>
        </div>
        <div class="column-box__secret--table u-mt20">
          <ul class="_secret__detail__tab">
            <li data-trigger-tab="0" class="_detail__tab__inner is-active u-fs--xs">募集情報</li>
            <li data-trigger-tab="1" class="_detail__tab__inner u-fs--xs">店舗情報</li>
          </ul>
          <div class="_secret__detail--recruit">
            <table data-target-tabinner="target" class="_secret__detail__table u-fs--sh--recruit">
              <tbody>
                <tr>
                  <td class="_detail__table__left">職種</td>
                  <td class="_detail__table__right"><span class="c-tag--detail--table">バーテンダー</span><span class="c-tag--detail--table">店長・マネージャー</span><span class="c-tag--detail--table">販売スタッフ</span></td>
                </tr>
                <tr>
                  <td class="_detail__table__left">雇用形態</td>
                  <td class="_detail__table__right">
                    <p class="_detail__table__text"><span class="c-tag--detail--table">正社員</span><span class="c-tag--detail--table">アルバイト</span></p>
                  </td>
                </tr>
                <tr>
                  <td class="_detail__table__left">仕事内容</td>
                  <td class="_detail__table__right">
                    <p class="_detail__table__text"></p>独占輸入の樽生ビール、世界のクラフトビール生Tap15種～30種！日本地ビール、激レアビールも！季節のビールなども含む50種以上を提供するビアレストランが、この度、【マロニエゲート銀座】にNEW　OPEN！
                    店内は、ベルギーやロンドン、ヨークシャーなどの若者でごった返す「ビアハウス」を再現！世界のお酒の輸入を手がける弊社だからこそ運営できる専門店です。
                  </td>
                </tr>
                <tr>
                  <td class="_detail__table__left">給与</td>
                  <td class="_detail__table__right">
                    <ul class="_detail__table__text--list">
                      <li>【正社員】 月給 180,000円以上</li>
                      <li>※※正社員平均月収:200,000円〜350,000円</li>
                    </ul>
                    <ul class="_detail__table__text--list">
                      <li>【アルバイト・パート】 時給 920円〜2,000円</li>
                      <li>※※パート・アルバイト平均日収:6,800円〜12,500円</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td class="_detail__table__left">応募資格</td>
                  <td class="_detail__table__right">
                    <p class="_detail__table__text"><span class="c-tag--detail--table">正社員</span><span class="c-tag--detail--table">アルバイト</span></p>
                    <ul class="_detail__table__text--list u-mt10">
                      <li>●オープニングスタッフ希望者</li>
                      <li>●飲食店未経験者も歓迎</li>
                      <li>●調理が好きな方 、世界の料理を学びたい方、外国語に触れたい方！</li>
                      <li>●調理経験者（特に、イタリアン、ビストロ、カフェ等の洋食調理経験者大歓迎！）他ジャンルの経験をお持ちの方ももちろんOK！</li>
                      <li>●飲食店でのサービス経験者（ジャンル不問）</li>
                      <li>●ビールやワイン好きな方、ビアテイスターやソムリエを目指したい方</li>
                      <li>などなど</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td class="_detail__table__left">勤務地</td>
                  <td class="_detail__table__right">
                    <ul class="_detail__table__text--list">
                      <li>【東京エリア】</li>
                      <li>新宿三丁目、秋葉原、日本橋、とうきょうスカイツリー駅 or 押上駅</li>
                      <li>※姉妹店：神谷町、日本橋、東京（新丸ビル）、浜松町、銀座、新宿、赤坂、銀座、御茶ノ水、六本木、表参道他</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td class="_detail__table__left">アクセス</td>
                  <td class="_detail__table__right">
                    <ul class="_detail__table__text--list">
                      <li>「WAKANUI GRILL DINING■BAR■TOKYO」</li>
                      <li>東京都港区芝公園3-4-30 32芝公園ビル10階</li>
                      <li>都営三田線　御成門駅「A1出口」から徒歩6分</li>
                      <li>都営大江戸線　赤羽橋駅「赤羽橋口」から徒歩7分</li>
                      <li>東京メトロ日比谷線　神谷町駅「1番出口」から徒歩8分</li>
                    </ul>
                    <ul class="_detail__table__text--list u-mt20">
                      <li>「WAKANUI LAMB CHOP■BAR■JUBAN」</li>
                      <li>東京都港区東麻布2-23-14　トワ・イグレッグB1F</li>
                      <li>東京メトロ南北線・都営大江戸線　麻布十番駅から徒歩4分</li>
                    </ul>
                    <div class="_detail__table__map u-mt10"><iframe data-normal="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13122.11578146955!2d135.5071726!3d34.6918364!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x549e50d7757f5c9f!2z44OO44O844K544K344On44Ki!5e0!3m2!1sja!2sjp!4v1466668259297" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div><a href="#">GoogleMapで確認する</a>
                  </td>
                </tr>
                <tr>
                  <td class="_detail__table__left">待遇・<br>福利厚生</td>
                  <td class="_detail__table__right">
                    <ul class="_detail__table__text--list">
                      <li>★賞与年1回（2014年度実績　3万円～105万円）</li>
                      <li>★昇給年1回　</li>
                      <li>★社会保険完備　</li>
                      <li>★研修・資格支援制度</li>
                      <li>・ドイツ＆フランスワイナリー海外研修制度</li>
                      <li>・月1回のワインテイスティング会　月1回のソムリエによる講習会</li>
                      <li>・調理士・ソムリエ、ビアテイスター、ビアジャッジャー資格支援制度</li>
                      <li>・独立支援（のれんわけ）グループ内独立制度（ＦＣ特別融資制度）完備</li>
                      <li>★交通費支給（当社規定による）</li>
                      <li>★制服貸与</li>
                      <li>★食事（一部負担）</li>
                      <li>★新入社員資金支援サポート制度</li>
                      <li>引越し資金、敷金・礼金　当社負担</li>
                      <li>2年間の家賃80％を弊社が負担します。（家賃上限有）</li>
                      <li>（東京、千葉、神奈川、埼玉県以外在住者限定）</li>
                      <li>★研修・試用期間有</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td class="_detail__table__left">休日休暇</td>
                  <td class="_detail__table__right">
                    <ul class="_detail__table__text--list">
                      <li>月７日（交代制）、その他連休あり、年次有給休暇</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            <table data-target-tabinner="target" class="_secret__detail__table u-fs--sh--recruit is-disable">
              <tbody>
                <tr>
                  <td class="_detail__table__left">ジャンル</td>
                  <td class="_detail__table__right">イタリアン</td>
                </tr>
                <tr>
                  <td class="_detail__table__left">住所</td>
                  <td class="_detail__table__right">東京都品川区東品川2-3-10 シーフォートスクエア1F</td>
                </tr>
                <tr>
                  <td class="_detail__table__left">アクセス</td>
                  <td class="_detail__table__right">
                    <ul class="_detail__table__text--list">
                      <li>東京モノレール 天王洲アイル駅天王洲シーフォートスクエア内りんかい線 天王洲アイル駅 徒歩5分</li>
                    </ul>
                    <div class="_detail__table__map u-mt10"><iframe data-normal="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13122.11578146955!2d135.5071726!3d34.6918364!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x549e50d7757f5c9f!2z44OO44O844K544K344On44Ki!5e0!3m2!1sja!2sjp!4v1466668259297" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div><a href="#">GoogleMapで確認する</a>
                  </td>
                </tr>
                <tr>
                  <td class="_detail__table__left">客単価</td>
                  <td class="_detail__table__right">3500円～4500円位</td>
                </tr>
                <tr>
                  <td class="_detail__table__left">席数</td>
                  <td class="_detail__table__right">20席</td>
                </tr>
                <tr>
                  <td class="_detail__table__left">定休日</td>
                  <td class="_detail__table__right">不定休</td>
                </tr>
                <tr>
                  <td class="_detail__table__left">HP</td>
                  <td class="_detail__table__right">
                    <ul>
                      <li><a href="#">ワールドリカーインポーターズ株式会社　企業HP</a></li>
                      <li><a href="#">クラフトビールタップ　HP</a></li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="column-box__secret__btnBLock">
        <div class="c-button-square--l--gray u-fs--xxl u-fs--xs"><span class="c-font-icon--attachment"></span>キープする</div>
        <div class="c-button-square--l u-fs--xxl u-fs--xs">応募する</div>
      </div>
      <footer class="search--footer">
        <div class="footer__inner"><span class="u-fs--xs">©2016 kireinista Co.,Ltd.</span></div>
      </footer>
      <div data-target-close="target" class="overlay"></div>
    </div>
    <ul data-target-hamburgermenu="hamburger" class="nav-box u-fs--xs">
      <li class="nav-box__list--top">
        <div data-modal-trigger="login" class="c-button-square--s"><span>ログイン</span></div>
        <div data-target-close="target" class="_list--top__r"><i class="c-icon--cross"></i><span class="u-fs--xxxs">MENU</span></div>
      </li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--home"></i></span><span>HOME</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--secret"></i></span><span>シークレット求人</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--content"></i></span><span>コンテンツ一覧</span></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--book"></i></span><span>キレイJOB図鑑</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--beauty"></i></span><span>キレイにナルンダ</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--hat"></i></span><span>集客の知恵袋</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--star"></i></span><span>スタア発掘</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>キレイにスルンダとは</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>お問い合わせ</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>運営会社</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>プライバシーポリシー</span></a></li>
    </ul>
    <!--下記必要なくなるかも-->
    <ul data-target-searchmenu="search" class="nav-box--left u-fs--xs">
      <li class="nav-box__list--top">
        <div data-target-close="target" class="_list--top__r"><i class="c-icon--cross"></i><span class="u-fs--xxxs">SEARCH</span></div>
      </li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">職種</span><span data-target-history="target" class="nav-box__search__history">パティシエ</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">勤務地</span><span data-target-history="target" class="nav-box__search__history is-empty">東京都</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">雇用形態</span><span data-target-history="target" class="nav-box__search__history is-empty">---</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">こだわり</span><span data-target-history="target" class="nav-box__search__history is-empty">---</span></a></li>
    </ul>
    <div data-remodal-id="login" class="modal"><i data-remodal-action="close" class="c-icon--cross"></i>
      <div class="modal__inner u-fs--xs"><a href="#" class="c-button-square--social c-button-square--social--wide c-facebook"><span class="u-fs--xs">Facebookでログイン</span></a><a href="#" class="c-button-square--social c-button-square--social--wide c-twitter u-mt15"><span class="u-fs--xs">Twitterでログイン</span></a>
        <form>
          <input type="email" placeholder="メールアドレスでログイン" autocomplete="on" class="form--primary__text u-fs--l u-mt15">
          <input type="password" placeholder="パスワード" autocomplete="on" class="form--primary__text u-fs--l u-mt5">
          <p class="form--login__repletion u-fs--xs--lh--form u-mt10 u-txtr"><a href="#" data-modal-trigger="password">パスワードを忘れたかたはコチラ</a></p>
          <button type="submit" data-submit="trigger" class="c-button-square--full u-fs--xs u-mt10"><span class="button-inner">ログイン</span></button>
        </form><a href="#" data-modal-trigger="registration" class="c-button-circle u-mt20">メールアドレスで新規登録</a>
      </div>
    </div>
    <!--modal分岐password再設定-->
    <div data-remodal-id="password" class="modal"><i data-remodal-action="close" class="c-icon--cross"></i>
      <div class="modal__inner u-fs--xs">
        <h3 class="modal__inner__ttl u-fs--s u-fwb">パスワードの再設定</h3>
        <div class="modal__inner__text">
          登録したメールアドレスに、
          パスワードのリセット用のURLが届きます。
        </div>
        <form novalidate>
          <input type="email" placeholder="登録時のメールアドレス" data-mail="target" data-validate-password="target" autocomplete="on" required class="form--primary__text u-fs--l u-mt15">
          <div class="u-txtl">
            <p data-error="required" class="form__error u-fs--xxsh u-mt10">メールアドレスを入力して下さい</p>
            <p data-error="mail" class="form__error u-fs--xxsh u-mt10">メールアドレスの入力に誤りがあります。</p>
          </div>
          <button type="submit" data-submit-modalother="trigger" class="c-button-square--full u-fs--xs u-mt10"><span class="button-inner">送信</span></button>
        </form>
      </div>
    </div>
    <!--modal分岐新規登録-->
    <div data-remodal-id="registration" class="modal"><i data-remodal-action="close" class="c-icon--cross"></i>
      <div class="modal__inner u-fs--xs">
        <h3 class="modal__inner__ttl u-fs--s u-fwb">メールアドレスで新規登録</h3>
        <form novalidate>
          <input type="email" placeholder="メールアドレスでログイン" data-mail="target" autocomplete="on" data-validate-register="target" required class="form--primary__text u-fs--l u-mt15">
          <div class="u-txtl">
            <p data-error="required" class="form__error u-fs--xxsh u-mt10">メールアドレスを入力して下さい</p>
            <p data-error="mail" class="form__error u-fs--xxsh u-mt10">メールアドレスの入力に誤りがあります。</p>
          </div>
          <input type="password" placeholder="パスワード(6桁以上)" autocomplete="on" data-validate-register="target" data-maxlength="8" data-minlength="6" data-alphanumeric="target" required class="form--primary__text u-fs--l u-mt5">
          <div class="u-txtl">
            <p data-error="required" class="form__error u-fs--xxshl u-mt10">パスワードを入力してください。</p>
            <p data-error="minlength" class="form__error u-fs--xxsh u-mt10">6桁以上で入力して下さい</p>
            <p data-error="maxlength" class="form__error u-fs--xxsh u-mt10">8桁以下で入力して下さい</p>
            <p data-error="alphanumeric" class="form__error u-fs--xxsh u-mt10">半角英数で入力して下さい</p>
          </div>
          <button type="submit" data-submit-modal="trigger" class="c-button-square--full u-fs--xs u-mt10"><span class="button-inner">新規登録</span></button>
        </form>
        <div class="modal__inner__text--notes u-fs--xxsh u-txtl u-mt15">ログインまたは新規登録することにより、スタア発掘の利用規約、プライバシーポリシーに同意したことになります。</div>
      </div>
    </div>
    <!--.modal(data-remodal-id='complete')-->
    <!--	i.c-icon--close(data-remodal-action='close')-->
    <!--	.modal__inner.u-fs--xs-->
    <!--		h3.modal__ttl-->
    <!--			| メールアドレスで新規登録-->
    <!--		.modal__inner__text-->
    <!--			| 本人確認のため、登録されたメールアドレスにメールが送信されました。-->
    <!--			| メール内のURLをクリックして、登録を完了させてください。-->
    <!--		p.modal__ttl-->
    <!--			| 会員登録ありがとうございました。-->
    <!--		.modal__inner__text--notes.modal__inner__text--notes--border-->
    <!--			| ※メールが届かない場合は、メールアドレスが間違っている場合がありますので、お手数をお掛けいたしますが、再度ご登録のお手続きを行ってください。-->
    <script src="../js/app.js"></script>
  </body>
</html>

__gulp/lunda_beauty_sp/src/jade/secret_kyujin/01.jade
- var page = ''
- var title = 'キレイにスルンダ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
- var search = 'true'

doctype html
html(lang='ja')
	head
		include ../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../partial/_header
			.primary-box--noPadding
				.contents-box--recruit__top
					h1.-recruit__top__ttl.u-fwb.u-fs--xs Liquor Importers株式会社
					.-recruit__top__inner
						.-wide__list__tagBlock.u-mt20
							.-wide__list__tagBlock--l
								span.u-fs--xxs.c-tag--secret--flow シークレット
								span.u-fs--xxs.c-tag--celebration 入社お祝い金1万円
							.-wide__list__tagBlock--r
								span.u-fs--xxs.c-tag--new--flow NEW
						h2.contents-box--recruit__ttl.u-fs--xlh.u-mt10.u-fwb
							|まさにグローバル！世界のクラフトビールと世界各国の料理を提供する新たなレストラン5/20 銀座新店舗オープニング大募集
					.column-box__secret__slider.u-mt15
						._secret__slider__main(data-target-slider="target")
							._slider__main__img
								img(src='#{domain}img/slider/slider_01.jpg', alt='')
							._slider__main__img
								img(src='#{domain}img/slider/slider_02.jpg', alt='')
							._slider__main__img
								img(src='#{domain}img/slider/slider_03.jpg', alt='')
				.contents-box--recruit__middle.u-mt15
					span.c-tag--secret--detail.u-fs--xs 未経験OK！
					span.c-tag--secret--detail.u-fs--xs 未経験OK！
					span.c-tag--secret--detail.u-fs--xs 未経験OK！
					h2.contents-box--recruit__ttl.u-fs--xlh.u-mt20.u-fwb
						| 海外ビールの輸入販売を手がける専門商社が手がける、新しいコンセプトのグローバルなレストラン。5/20注目のNEWOPEN！
					p.contents-box__text.u-fs--mh.u-mt15
						| ロールキャベツはタネ作りに少し手聞がかかるイメージがあります。でも薄切り肉を使えばもっと簡単！
						| 春キャベツは生のまま、適当な大きさに切って薄切り肉を巻きます。火の通りも早いのでサッと煮こむのはもちろん、
						| 焼いたり蒸したり、衣をつけて揚げたりすれば、お好みのロールキャベツに。食感も楽しい新感覚の口ールキャベツをお試しください。
					h2.contents-box--recruit__ttl.u-fs--xlh.u-mt25.u-fwb
						| キッチン職希望の方へ！
					p.contents-box__text.u-fs--mh.u-mt15
						| シェフ（料理長）をめざしていただくことも可能です。シェフになると、メニュー開発、原価や売上などの数値管理、
						|スタッフの採用ならびに育成、仕入先との折衝業務など、多岐に渡っておまかせします。
						|ご利用になるすべての方にとって、居心地の良い空間になるような料理・サービスを心がけています。
					.contents-box--recruit__attention.u-mt10
						span.c-tag--notice.u-fs--xxs.u-fwb 注目ポイント！
						.-recruit__attention__top
							figure.-recruit__attention__img
								img(src="#{domain}img/secret/recruit.jpg")
							h3.-recruit__attention__ttl.u-fs--mh--contents.u-fwb
								|国内最大級のビールの祭典である「スーパーオクトーバーフェスト」の主催・企画・運営なども手掛ける当社。
						p.-recruit__attention__text.u-fs--sh--recruit.u-mt10
							|やる気次第で、どんどん活躍の場が広がる環境です。今後も様々な事業を展開する当社で、あなたもチャンスを掴みませんか？
							|とにかくお酒に興味のある方大集合！海外とのつながりもあるので、国内ではまだ出回っていないホットな情報を知ることもできます。
							|ビアテイスター、ビアジャッジの取得したいという方には、積極的にサポートしますよ！

				.column-box__secret--table.u-mt20
					ul._secret__detail__tab
						li._detail__tab__inner.is-active.u-fs--xs(data-trigger-tab="0") 募集情報
						li._detail__tab__inner.u-fs--xs(data-trigger-tab="1") 店舗情報
					._secret__detail--recruit
						table._secret__detail__table.u-fs--sh--recruit(data-target-tabinner="target")
							tbody
								tr
									td._detail__table__left
										| 職種
									td._detail__table__right
										span.c-tag--detail--table
											| バーテンダー
										span.c-tag--detail--table
											| 店長・マネージャー
										span.c-tag--detail--table
											| 販売スタッフ
								tr
									td._detail__table__left
										| 雇用形態
									td._detail__table__right
										p._detail__table__text
											span.c-tag--detail--table
												| 正社員
											span.c-tag--detail--table
												| アルバイト
								tr
									td._detail__table__left
										| 仕事内容
									td._detail__table__right
										p._detail__table__text
										| 独占輸入の樽生ビール、世界のクラフトビール生Tap15種～30種！日本地ビール、激レアビールも！季節のビールなども含む50種以上を提供するビアレストランが、この度、【マロニエゲート銀座】にNEW　OPEN！
										| 店内は、ベルギーやロンドン、ヨークシャーなどの若者でごった返す「ビアハウス」を再現！世界のお酒の輸入を手がける弊社だからこそ運営できる専門店です。
								tr
									td._detail__table__left
										| 給与
									td._detail__table__right
										ul._detail__table__text--list
											li 【正社員】 月給 180,000円以上
											li ※※正社員平均月収:200,000円〜350,000円
										ul._detail__table__text--list
											li 【アルバイト・パート】 時給 920円〜2,000円

											li ※※パート・アルバイト平均日収:6,800円〜12,500円
								tr
									td._detail__table__left
										| 応募資格
									td._detail__table__right
										p._detail__table__text
											span.c-tag--detail--table
												| 正社員
											span.c-tag--detail--table
												| アルバイト
										ul._detail__table__text--list.u-mt10
											li ●オープニングスタッフ希望者
											li ●飲食店未経験者も歓迎
											li ●調理が好きな方 、世界の料理を学びたい方、外国語に触れたい方！
											li ●調理経験者（特に、イタリアン、ビストロ、カフェ等の洋食調理経験者大歓迎！）他ジャンルの経験をお持ちの方ももちろんOK！
											li ●飲食店でのサービス経験者（ジャンル不問）
											li ●ビールやワイン好きな方、ビアテイスターやソムリエを目指したい方
											li などなど
								tr
									td._detail__table__left
										| 勤務地
									td._detail__table__right
										ul._detail__table__text--list
											li 【東京エリア】
											li 新宿三丁目、秋葉原、日本橋、とうきょうスカイツリー駅 or 押上駅
											li ※姉妹店：神谷町、日本橋、東京（新丸ビル）、浜松町、銀座、新宿、赤坂、銀座、御茶ノ水、六本木、表参道他
								tr
									td._detail__table__left
										| アクセス
									td._detail__table__right
										ul._detail__table__text--list
											li 「WAKANUI GRILL DINING■BAR■TOKYO」
											li 東京都港区芝公園3-4-30 32芝公園ビル10階
											li 都営三田線　御成門駅「A1出口」から徒歩6分
											li 都営大江戸線　赤羽橋駅「赤羽橋口」から徒歩7分
											li 東京メトロ日比谷線　神谷町駅「1番出口」から徒歩8分
										ul._detail__table__text--list.u-mt20
											li 「WAKANUI LAMB CHOP■BAR■JUBAN」
											li 東京都港区東麻布2-23-14　トワ・イグレッグB1F
											li 東京メトロ南北線・都営大江戸線　麻布十番駅から徒歩4分
										._detail__table__map.u-mt10
											<iframe data-normal="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13122.11578146955!2d135.5071726!3d34.6918364!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x549e50d7757f5c9f!2z44OO44O844K544K344On44Ki!5e0!3m2!1sja!2sjp!4v1466668259297" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
										a(href="#") GoogleMapで確認する
								tr
									td._detail__table__left
										| 待遇・
										br
										|福利厚生
									td._detail__table__right
										ul._detail__table__text--list
											li ★賞与年1回（2014年度実績　3万円～105万円）
											li ★昇給年1回　
											li ★社会保険完備　
											li ★研修・資格支援制度
											li ・ドイツ＆フランスワイナリー海外研修制度
											li ・月1回のワインテイスティング会　月1回のソムリエによる講習会
											li ・調理士・ソムリエ、ビアテイスター、ビアジャッジャー資格支援制度
											li ・独立支援（のれんわけ）グループ内独立制度（ＦＣ特別融資制度）完備
											li ★交通費支給（当社規定による）
											li ★制服貸与
											li ★食事（一部負担）
											li ★新入社員資金支援サポート制度
											li 引越し資金、敷金・礼金　当社負担
											li 2年間の家賃80％を弊社が負担します。（家賃上限有）
											li （東京、千葉、神奈川、埼玉県以外在住者限定）
											li ★研修・試用期間有
								tr
									td._detail__table__left
										| 休日休暇
									td._detail__table__right
										ul._detail__table__text--list
											li 月７日（交代制）、その他連休あり、年次有給休暇

						table._secret__detail__table.u-fs--sh--recruit.is-disable(data-target-tabinner="target")
							tbody
								tr
									td._detail__table__left
										| ジャンル
									td._detail__table__right
										| イタリアン
								tr
									td._detail__table__left
										| 住所
									td._detail__table__right
										| 東京都品川区東品川2-3-10 シーフォートスクエア1F
								tr
									td._detail__table__left
										| アクセス
									td._detail__table__right
										ul._detail__table__text--list
											li 東京モノレール 天王洲アイル駅天王洲シーフォートスクエア内りんかい線 天王洲アイル駅 徒歩5分
										._detail__table__map.u-mt10
											<iframe data-normal="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13122.11578146955!2d135.5071726!3d34.6918364!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x549e50d7757f5c9f!2z44OO44O844K544K344On44Ki!5e0!3m2!1sja!2sjp!4v1466668259297" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
										a(href="#") GoogleMapで確認する
								tr
									td._detail__table__left
										| 客単価
									td._detail__table__right
										| 3500円～4500円位
								tr
									td._detail__table__left
										| 席数
									td._detail__table__right
										| 20席
								tr
									td._detail__table__left
										| 定休日
									td._detail__table__right
										| 不定休
								tr
									td._detail__table__left
										| HP
									td._detail__table__right
										ul
											li
												a(href="#") ワールドリカーインポーターズ株式会社　企業HP
											li
												a(href="#") クラフトビールタップ　HP
			.column-box__secret--bottom.u-mb20
				h3._secret--bottom__heading.u-fs--xl--contents.u-fwb この企業が募集しているほかの求人
				ul._secret--bottom__list.u-fwb
					a(href="")
						li._secret--bottom__lists.-bottom__list__header.u-fs--sh--recruit マロニエゲート赤坂店/Liquor Importers株式会社
						li._secret--bottom__lists.u-fs--sh--recruit シェフ・キッチン/まさにグローバル！世界のクラフトビールと世界各国の料理を提供する新たなレストラン5/20 銀座新店舗　オープニング大募集
				ul._secret--bottom__list.u-fwb
					a(href="")
						li._secret--bottom__lists.-bottom__list__header.u-fs--sh--recruit マロニエゲート赤坂店/Liquor Importers株式会社
						li._secret--bottom__lists.u-fs--sh--recruit シェフ・キッチン/まさにグローバル！世界のクラフトビールと世界各国の料理を提供する新たなレストラン5/20 銀座新店舗　オープニング大募集
			.column-box__secret__btnBLock
				.c-button-square--l--gray.u-fs--xxl.u-fs--xs
					span.c-font-icon--attachment
					| キープする
				.c-button-square--l.u-fs--xxl.u-fs--xs
					| 応募する
			include ../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../partial/_leftNav
		include ../partial/modal/_login
		script(src='#{domain}js/app.js')
