gulp_coporation/src/jade/detail_entry.jade
- var page = 'home'
- var title = '食べるんだ管理画面 - 応募者一覧'
- var domain = './'
- var description = ''
- var keywords = ''
doctype html
html(lang='ja')
	head
		include partial/_head
	body
		include partial/_header

		.breadcrumb.pc
			a(href="index.html") 掲載求人一覧 >
			a(href="list_entry.html") ホールスタッフ / 札幌成吉思汗しろくま 恵比寿店の応募者一覧 >
			span 応募者詳細
		#page-wrapper.container
			.box_info_detail.div_title.u-mt20
				.pull-left
					.title_page ホールスタッフ / 札幌成吉思汗しろくま 恵比寿店の応募者詳細
					.id_job.u-mt15 求人ID：10245
				.pull-right.pc
					a(href="#" class="btn-donwload-csv") 応募者の詳細データを<br>ダウンロード（CSV形式）
			.box_content.u-mt20
				ul.detail_entry
					li.li_first 基本情報（管理番号：53）
					li
						ul
							li お名前
							li 勅使河原 蔵之介
					li
						ul
							li フリガナ
							li テシガワラ クラノスケ
					li
						ul
							li 性別
							li 男
					li
						ul
							li 生年月日
							li 1990/04/04
					li
						ul
							li 年齢
							li 26
					li
						ul
							li メールアドレス
							li sample@gmail.com
					li
						ul
							li 住所
							li 東京都豊島区南大塚2-25-15
					li
						ul
							li 電話番号
							li 000-0000-0000
					li
						ul
							li 現在の就業状況
							li 在職中（飲食関係）
					li
						ul
							li 入社可能時期
							li 3ヶ月以降
					li
						ul
							li 希望連絡時間・連絡方法
							li 平日午前中
					li
						ul
							li 取得資格
							li
					li
						ul
							li 職務経歴・自己PR
							li 飲食店スタッフとして入社し、お客様に心からご満足いただけるようホスピタリティをもち、常に探求心を持って仕事に取り組んだ結果、入社2年で店長を任されるという最短記録を樹立いたしました。
								br
								br
								| 現在は3店舗の管理を任されており、飲食業界での就業経験がないスタッフでもスムーズに業務に慣れるよう、マニュアルと先輩スタッフによるOJTによる教育体制を整え、スタッフの定着率を大幅にアップすることに成功しております。
								br
								br
								| またその結果としてスタッフの意識があがり、売り上げ全社No,1店舗として年商2億を達成することができました。
					li
						ul
							li 希望雇用形態
							li アルバイト
				.text-center.u-mt20
					a(href="#" class="btn btn-sendmail")
						span この応募者に連絡する
					p.font--size--gray.u-mt10 ※メールソフトが立ち上がります。
			.box_reviews_entry.u-mt45
				.box_reviews
					.box_revew__title 応募者の評価
					.box_review__content
						.list_btn_rate
							button.btn.btn_update_rate.btn--rate_1.active(value='1')
								span ● 良い
							button.btn.btn_update_rate.btn--rate_2(value='2')
								span ▲ 普通
							button.btn.btn_update_rate.btn--rate_3(value='3')
								span × 悪い
							button.btn.btn_update_rate.btn--rate_4(value='0')
								span 評価しない
						.clear-both
					p.box_review__notice 評価をしておくと応募者一覧で絞り込みができるようになります。
				.box_status.u-mt20
					.box_revew__title.border--top ステータスの変更
					.box_review__content
						select(name="status" class="form-control select-status")
							option(value="") ステータス
							option(value="1") 面接予定
							option(value="2") 選考中
							option(value="3") 内定通知済
							option(value="4") 末返信
							option(value="5") 連絡中
				.div_btn_save.text-center
					input(type="hidden" value="" id="rate")
					input(type="hidden" value="5" name="id_entry" id="id_entry")
					input(type="hidden" value="gulp" id="gulp")
					a(href="javascript:void(0)" class="btn btn_save popup-trigger" id="btn_save") この状態で登録
			.row_paging.row_paging_detail.u-mt15
				.pull-left
					a(href="list_entry.html" class="return_page")
						|<
						span 応募者一覧に戻る
		.popup
			.popup__content
				a.popup-btn-close.btn--close--x.sp X
				p.row_rate
					| 評価：
					span#span_rate
						span.row_rate__rate_1 ● 良い　
					br.sp
					|ステータス：
					span#span_status 面接予定
				p に変更しました。
				.text-center.u-mt40
					a(href="#" class="btn btn-sendmail")
						span この応募者に連絡する
					p.font--size--gray.u-mt5 ※メールソフトが立ち上がります。
				span.popup-btn-close.u-mt30 閉じる

		include partial/_hamburger
		script(src='./js/app.js')

gulp_coporation/dist/detail_entry.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>食べるんだ管理画面 - 応募者一覧</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <link rel="stylesheet" href="./css/app.css">
    <!--link(rel="shortcut icon", href="/ico/favicon.ico")-->
    <!--link(rel="icon" type="image/png" href="/ico/favicon.png" sizes="32x32")-->
  </head>
  <body>
    <header class="header--primary">
      <div class="header--primary__inner u-cf">
        <h1 class="header--primary__logo"><a href="index.html"><img src="img/svg/top-logo.svg" alt="食べるんだ"><span>求人管理画面</span></a></h1>
        <div class="header--primary__right">
          <div data-trigger-hamburgermenu="hamburger" class="nav--hamburger"><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__text u-fs--xxxs"></span></div>
          <ul class="navbar--right">
            <li class="dropdown"><a href="#" id="dropdown" data-toggle="dropdown" class="dropdown-toggle"><span class="icon-user">株式会社Wiz 様<i class="arrow-down"></i></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa-arrow"></i>パスワード再設定</a></li>
                <li><a href="#"><i class="fa-arrow"></i>お問い合わせ</a></li>
                <li class="logout"><a href="#" class="btn-logout">ログアウト</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="breadcrumb pc"><a href="index.html">掲載求人一覧 ></a><a href="list_entry.html">ホールスタッフ / 札幌成吉思汗しろくま 恵比寿店の応募者一覧 ></a><span>応募者詳細</span></div>
    <div id="page-wrapper" class="container">
      <div class="box_info_detail div_title u-mt20">
        <div class="pull-left">
          <div class="title_page">ホールスタッフ / 札幌成吉思汗しろくま 恵比寿店の応募者詳細</div>
          <div class="id_job u-mt15">求人ID：10245</div>
        </div>
        <div class="pull-right pc"><a href="#" class="btn-donwload-csv">応募者の詳細データを<br>ダウンロード（CSV形式）</a></div>
      </div>
      <div class="box_content u-mt20">
        <ul class="detail_entry">
          <li class="li_first">基本情報（管理番号：53）</li>
          <li>
            <ul>
              <li>お名前</li>
              <li>勅使河原 蔵之介</li>
            </ul>
          </li>
          <li>
            <ul>
              <li>フリガナ</li>
              <li>テシガワラ クラノスケ</li>
            </ul>
          </li>
          <li>
            <ul>
              <li>性別</li>
              <li>男</li>
            </ul>
          </li>
          <li>
            <ul>
              <li>生年月日</li>
              <li>1990/04/04</li>
            </ul>
          </li>
          <li>
            <ul>
              <li>年齢</li>
              <li>26</li>
            </ul>
          </li>
          <li>
            <ul>
              <li>メールアドレス</li>
              <li>sample@gmail.com</li>
            </ul>
          </li>
          <li>
            <ul>
              <li>住所</li>
              <li>東京都豊島区南大塚2-25-15</li>
            </ul>
          </li>
          <li>
            <ul>
              <li>電話番号</li>
              <li>000-0000-0000</li>
            </ul>
          </li>
          <li>
            <ul>
              <li>現在の就業状況</li>
              <li>在職中（飲食関係）</li>
            </ul>
          </li>
          <li>
            <ul>
              <li>入社可能時期</li>
              <li>3ヶ月以降</li>
            </ul>
          </li>
          <li>
            <ul>
              <li>希望連絡時間・連絡方法</li>
              <li>平日午前中</li>
            </ul>
          </li>
          <li>
            <ul>
              <li>取得資格</li>
              <li></li>
            </ul>
          </li>
          <li>
            <ul>
              <li>職務経歴・自己PR</li>
              <li>飲食店スタッフとして入社し、お客様に心からご満足いただけるようホスピタリティをもち、常に探求心を持って仕事に取り組んだ結果、入社2年で店長を任されるという最短記録を樹立いたしました。<br><br>現在は3店舗の管理を任されており、飲食業界での就業経験がないスタッフでもスムーズに業務に慣れるよう、マニュアルと先輩スタッフによるOJTによる教育体制を整え、スタッフの定着率を大幅にアップすることに成功しております。<br><br>またその結果としてスタッフの意識があがり、売り上げ全社No,1店舗として年商2億を達成することができました。</li>
            </ul>
          </li>
          <li>
            <ul>
              <li>希望雇用形態</li>
              <li>アルバイト</li>
            </ul>
          </li>
        </ul>
        <div class="text-center u-mt20"><a href="#" class="btn btn-sendmail"><span>この応募者に連絡する</span></a>
          <p class="font--size--gray u-mt10">※メールソフトが立ち上がります。</p>
        </div>
      </div>
      <div class="box_reviews_entry u-mt45">
        <div class="box_reviews">
          <div class="box_revew__title">応募者の評価</div>
          <div class="box_review__content">
            <div class="list_btn_rate">
              <button value="1" class="btn btn_update_rate btn--rate_1 active"><span>● 良い</span></button>
              <button value="2" class="btn btn_update_rate btn--rate_2"><span>▲ 普通</span></button>
              <button value="3" class="btn btn_update_rate btn--rate_3"><span>× 悪い</span></button>
              <button value="0" class="btn btn_update_rate btn--rate_4"><span>評価しない</span></button>
            </div>
            <div class="clear-both"></div>
          </div>
          <p class="box_review__notice">評価をしておくと応募者一覧で絞り込みができるようになります。</p>
        </div>
        <div class="box_status u-mt20">
          <div class="box_revew__title border--top">ステータスの変更</div>
          <div class="box_review__content">
            <select name="status" class="form-control select-status">
              <option value="">ステータス</option>
              <option value="1">面接予定</option>
              <option value="2">選考中</option>
              <option value="3">内定通知済</option>
              <option value="4">末返信</option>
              <option value="5">連絡中</option>
            </select>
          </div>
        </div>
        <div class="div_btn_save text-center">
          <input type="hidden" value="" id="rate">
          <input type="hidden" value="5" name="id_entry" id="id_entry">
          <input type="hidden" value="gulp" id="gulp"><a href="javascript:void(0)" id="btn_save" class="btn btn_save popup-trigger">この状態で登録</a>
        </div>
      </div>
      <div class="row_paging row_paging_detail u-mt15">
        <div class="pull-left"><a href="list_entry.html" class="return_page"><<span>応募者一覧に戻る</span></a></div>
      </div>
    </div>
    <div class="popup">
      <div class="popup__content"><a class="popup-btn-close btn--close--x sp">X</a>
        <p class="row_rate">評価：<span id="span_rate"><span class="row_rate__rate_1">● 良い　</span></span><br class="sp">ステータス：<span id="span_status">面接予定</span></p>
        <p>に変更しました。</p>
        <div class="text-center u-mt40"><a href="#" class="btn btn-sendmail"><span>この応募者に連絡する</span></a>
          <p class="font--size--gray u-mt5">※メールソフトが立ち上がります。</p>
        </div><span class="popup-btn-close u-mt30">閉じる</span>
      </div>
    </div>
    <ul id="nav-box-mobile" data-target-hamburgermenu="hamburger" class="nav-box-mobile u-fs--m">
      <li id="naxBoxTop" class="nav-box__list--top">
        <div data-target-close="target" class="_btn_close_nav_box"><span class="u-fs--xxxs">MENU</span></div>
      </li>
      <li><a href=""><span>管理画面トップ</span><i>></i></a></li>
      <li><a href=""><span>パスワード変更</span><i>></i></a></li>
      <li><a href=""><span>お問い合わせ</span><i>></i></a></li>
      <li class="logout"><a href=""><span>ログアウト</span></a></li>
    </ul>
    <script src="./js/app.js"></script>
  </body>
</html>
