gulp_coporation/dist/list_entry.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>食べるんだ管理画面 - 応募者一覧</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <link rel="stylesheet" href="./css/app.css">
    <!--link(rel="shortcut icon", href="/ico/favicon.ico")-->
    <!--link(rel="icon" type="image/png" href="/ico/favicon.png" sizes="32x32")-->
  </head>
  <body>
    <header class="header--primary">
      <div class="header--primary__inner u-cf">
        <h1 class="header--primary__logo"><a href="index.html"><img src="img/svg/top-logo.svg" alt="食べるんだ"><span>求人管理画面</span></a></h1>
        <div class="header--primary__right">
          <div data-trigger-hamburgermenu="hamburger" class="nav--hamburger"><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__text u-fs--xxxs"></span></div>
          <ul class="navbar--right">
            <li class="dropdown"><a href="#" id="dropdown" data-toggle="dropdown" class="dropdown-toggle"><span class="icon-user">株式会社Wiz 様<i class="arrow-down"></i></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa-arrow"></i>パスワード再設定</a></li>
                <li><a href="#"><i class="fa-arrow"></i>お問い合わせ</a></li>
                <li class="logout"><a href="#" class="btn-logout">ログアウト</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="breadcrumb pc"><a href="">掲載求人一覧 ></a><span>ホールスタッフ / 札幌成吉思汗しろくま 恵比寿店の応募者一覧</span></div>
    <div id="page-wrapper" class="container">
      <div class="div_title u-mt40">
        <div class="title_page">ホールスタッフ / 札幌成吉思汗しろくま 恵比寿店の応募者一覧</div>
        <div class="id_job u-mt15">求人ID：10245</div>
      </div>
      <div class="box_notificate u-mt30">
        <ul class="box_notificate__ul">
          <li><a href="#">「管理番号：855」新しい応募がきました。 ></a></li>
          <li><a href="#" class="warning">「管理番号：10847」応募者へのメッセージが未返信です。 ></a></li>
          <li><a href="#" class="warning">「管理番号：1227」応募者へのメッセージが未返信です。 ></a></li>
          <li><a href="#">「管理番号：855」新しい応募がきました。 ></a></li>
          <li><a href="#" class="warning">「管理番号：10847」応募者へのメッセージが未返信です。 ></a></li>
          <li><a href="#" class="warning">「管理番号：1227」応募者へのメッセージが未返信です。 ></a></li>
        </ul>
        <div class="text-center u-mt20 sp"><span class="btn_show_more">すべて表示</span></div>
      </div>
      <div class="box_filter u-mt20 pc">
        <div class="pull-left">
          <form action="" method="get" name="form_filter">
            <div class="col col-1 label">絞り込み：</div>
            <div class="col col-1">
              <select name="" class="form-control">
                <option value="">性別</option>
                <option value="男">男</option>
                <option value="女">女</option>
              </select>
            </div>
            <div class="col col-1">
              <select name="" class="form-control">
                <option value="">年齢</option>
                <option value="10">10代</option>
                <option value="20">20代</option>
                <option value="30">30代</option>
                <option value="40">40代</option>
                <option value="50">50代</option>
                <option value="60">60代</option>
                <option value="70">70代</option>
                <option value="80">80代</option>
              </select>
            </div>
            <div class="col col-1">
              <select name="" class="form-control select_with_icon">
                <option value="">評価</option>
                <option value="1" class="blue">●</option>
                <option value="2" class="green">▲</option>
                <option value="3" class="red">×</option>
                <option value="4" class="line">&nbsp-</option>
              </select>
            </div>
            <div class="col col-2">
              <select name="" class="form-control">
                <option value="">希望雇用形態</option>
                <option value="1">正社員</option>
                <option value="2">契約社員</option>
                <option value="3">業務委託</option>
                <option value="4">アルバイト</option>
                <option value="5">その他</option>
              </select>
            </div>
            <div class="col col-2">
              <select name="" class="form-control">
                <option value="">ステータス</option>
                <option value="1">面接予定</option>
                <option value="2">選考中</option>
                <option value="3">内定通知済</option>
                <option value="4">未返信</option>
                <option value="5">連絡中</option>
              </select>
            </div>
            <div class="col col-1 col--have--btn">
              <button type="submit" class="btn btn-search"><span>絞り込み</span></button>
            </div>
          </form>
        </div>
        <div class="pull-right"><a href="#" class="btn-donwload-csv">応募者一覧データを <br> ダウンロード（CSV形式）</a></div>
        <div class="clear-both"></div>
      </div>
      <div class="box_content u-mt20">
        <table class="rwd-tables list_entry">
          <tr class="tr_header">
            <th width="10%" class="radius-left-top"><span>管理番号</span></th>
            <th width="18%"><span>応募日付</span></th>
            <th width="20%"><span>氏名</span></th>
            <th width="5%"><span>性別</span></th>
            <th width="5%"><span>年齢</span></th>
            <th width="5%"><span>評価</span></th>
            <th><span>希望雇用形態</span></th>
            <th><span>ステータス</span></th>
            <th width="13%" class="radius-right-top"></th>
          </tr>
          <tr>
            <td>
              <div class="display_table"><span class="rwd-tables thead">管理番号</span><span class="rwd-tables tbody">53</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">応募日付</span><span class="rwd-tables tbody">2016/12/05 16:52:15</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">氏名</span><span class="rwd-tables tbody">勅使河原 蔵之介</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">性別</span><span class="rwd-tables tbody">男</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">年齢</span><span class="rwd-tables tbody">26</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">評価</span><span class="rwd-tables tbody"><span class="status status__status--circle">良い</span></span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">希望雇用形態</span><span class="rwd-tables tbody">アルバイト</span></div>
            </td>
            <td class="radius--bottom">
              <div class="display_table"><span class="rwd-tables thead">ステータス</span><span class="rwd-tables tbody"><span class="color--blue">面接予定</span></span></div>
            </td>
            <td align="center" class="td_btn"><a href="detail_entry.html" class="btn btn-success btn--arrow">詳細を確認<i class="arrow"></i></a></td>
          </tr>
          <tr>
            <td>
              <div class="display_table"><span class="rwd-tables thead">管理番号</span><span class="rwd-tables tbody">1655</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">応募日付</span><span class="rwd-tables tbody">2016/12/05 16:52:15</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">氏名</span><span class="rwd-tables tbody">唐沢 賢治</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">性別</span><span class="rwd-tables tbody">男</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">年齢</span><span class="rwd-tables tbody">19</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">評価</span><span class="rwd-tables tbody"><span class="status status__status--triangle">普通</span></span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">希望雇用形態</span><span class="rwd-tables tbody">正社員</span></div>
            </td>
            <td class="radius--bottom">
              <div class="display_table"><span class="rwd-tables thead">ステータス</span><span class="rwd-tables tbody"><span class="color--blue">選考中</span></span></div>
            </td>
            <td align="center" class="td_btn"><a href="detail_entry.html" class="btn btn-success btn--arrow">詳細を確認<i class="arrow"></i></a></td>
          </tr>
          <tr class="close">
            <td>
              <div class="display_table"><span class="rwd-tables thead">管理番号</span><span class="rwd-tables tbody">17164</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">応募日付</span><span class="rwd-tables tbody">2016/12/05 09:06:48</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">氏名</span><span class="rwd-tables tbody">佐古 真帆</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">性別</span><span class="rwd-tables tbody">女</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">年齢</span><span class="rwd-tables tbody">34</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">評価</span><span class="rwd-tables tbody"><span class="status status__status--close">悪い</span></span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">希望雇用形態</span><span class="rwd-tables tbody">契約社員</span></div>
            </td>
            <td class="radius--bottom">
              <div class="display_table"><span class="rwd-tables thead">ステータス</span><span class="rwd-tables tbody">不採用</span></div>
            </td>
            <td align="center" class="td_btn"><a href="detail_entry.html" class="btn btn-success btn--arrow">詳細を確認<i class="arrow"></i></a></td>
          </tr>
          <tr class="new">
            <td>
              <div class="display_table"><span class="rwd-tables thead">管理番号</span><span class="rwd-tables tbody">855<span class="icon--new">New</span></span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">応募日付</span><span class="rwd-tables tbody">2016/12/05 09:06:48</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">氏名</span><span class="rwd-tables tbody">横田 竜也</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">性別</span><span class="rwd-tables tbody">男</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">年齢</span><span class="rwd-tables tbody">27</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">評価</span><span class="rwd-tables tbody"><span class="status status__status--nothing">-</span></span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">希望雇用形態</span><span class="rwd-tables tbody">契約社員</span></div>
            </td>
            <td class="radius--bottom">
              <div class="display_table"><span class="rwd-tables thead">ステータス</span><span class="rwd-tables tbody"><span class="color--red">未返信</span></span></div>
            </td>
            <td align="center" class="td_btn"><a href="detail_entry.html" class="btn btn-success btn--arrow">詳細を確認<i class="arrow"></i></a></td>
          </tr>
          <tr>
            <td>
              <div class="display_table"><span class="rwd-tables thead">管理番号</span><span class="rwd-tables tbody">2545</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">応募日付</span><span class="rwd-tables tbody">2016/12/05 16:52:15</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">氏名</span><span class="rwd-tables tbody">唐沢 賢治</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">性別</span><span class="rwd-tables tbody">男</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">年齢</span><span class="rwd-tables tbody">19</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">評価</span><span class="rwd-tables tbody"><span class="status status__status--triangle">普通</span></span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">希望雇用形態</span><span class="rwd-tables tbody">正社員</span></div>
            </td>
            <td class="radius--bottom">
              <div class="display_table"><span class="rwd-tables thead">ステータス</span><span class="rwd-tables tbody">選考中</span></div>
            </td>
            <td align="center" class="td_btn"><a href="detail_entry.html" class="btn btn-success btn--arrow">詳細を確認<i class="arrow"></i></a></td>
          </tr>
          <tr>
            <td>
              <div class="display_table"><span class="rwd-tables thead">管理番号</span><span class="rwd-tables tbody">10847</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">応募日付</span><span class="rwd-tables tbody">2016/12/05 16:52:15</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">氏名</span><span class="rwd-tables tbody">勅使河原 蔵之介</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">性別</span><span class="rwd-tables tbody">男</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">年齢</span><span class="rwd-tables tbody">26</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">評価</span><span class="rwd-tables tbody"><span class="status status__status--circle">良い</span></span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">希望雇用形態</span><span class="rwd-tables tbody">アルバイト</span></div>
            </td>
            <td class="radius--bottom">
              <div class="display_table"><span class="rwd-tables thead">ステータス</span><span class="rwd-tables tbody"><span class="color--blue">面接予定</span></span></div>
            </td>
            <td align="center" class="td_btn"><a href="detail_entry.html" class="btn btn-success btn--arrow">詳細を確認<i class="arrow"></i></a></td>
          </tr>
          <tr class="new">
            <td>
              <div class="display_table"><span class="rwd-tables thead">管理番号</span><span class="rwd-tables tbody">1227<span class="icon--new">New</span></span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">応募日付</span><span class="rwd-tables tbody">2016/12/05 09:06:48</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">氏名</span><span class="rwd-tables tbody">横田 竜也</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">性別</span><span class="rwd-tables tbody">男</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">年齢</span><span class="rwd-tables tbody">27</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">評価</span><span class="rwd-tables tbody"><span class="status status__status--nothing">-</span></span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">希望雇用形態</span><span class="rwd-tables tbody">契約社員</span></div>
            </td>
            <td class="radius--bottom">
              <div class="display_table"><span class="rwd-tables thead">ステータス</span><span class="rwd-tables tbody"><span class="color--red">未返信</span></span></div>
            </td>
            <td align="center" class="td_btn"><a href="detail_entry.html" class="btn btn-success btn--arrow">詳細を確認<i class="arrow"></i></a></td>
          </tr>
          <tr class="close">
            <td>
              <div class="display_table"><span class="rwd-tables thead">管理番号</span><span class="rwd-tables tbody">978</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">応募日付</span><span class="rwd-tables tbody">2016/12/05 09:06:48</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">氏名</span><span class="rwd-tables tbody">佐古 真帆</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">性別</span><span class="rwd-tables tbody">女</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">年齢</span><span class="rwd-tables tbody">34</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">評価</span><span class="rwd-tables tbody"><span class="status status__status--close">悪い</span></span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">希望雇用形態</span><span class="rwd-tables tbody">契約社員</span></div>
            </td>
            <td class="radius--bottom">
              <div class="display_table"><span class="rwd-tables thead">ステータス</span><span class="rwd-tables tbody">不採用</span></div>
            </td>
            <td align="center" class="td_btn"><a href="detail_entry.html" class="btn btn-success btn--arrow">詳細を確認<i class="arrow"></i></a></td>
          </tr>
          <tr>
            <td>
              <div class="display_table"><span class="rwd-tables thead">管理番号</span><span class="rwd-tables tbody">8697</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">応募日付</span><span class="rwd-tables tbody">2016/12/05 16:52:15</span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">氏名</span><span class="rwd-tables tbody">勅使河原 蔵之介</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">性別</span><span class="rwd-tables tbody">男</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">年齢</span><span class="rwd-tables tbody">26</span></div>
            </td>
            <td align="center">
              <div class="display_table"><span class="rwd-tables thead">評価</span><span class="rwd-tables tbody"><span class="status status__status--circle">良い</span></span></div>
            </td>
            <td>
              <div class="display_table"><span class="rwd-tables thead">希望雇用形態</span><span class="rwd-tables tbody">アルバイト</span></div>
            </td>
            <td class="radius--bottom">
              <div class="display_table"><span class="rwd-tables thead">ステータス</span><span class="rwd-tables tbody"><span class="color--blue">面接予定</span></span></div>
            </td>
            <td align="center" class="td_btn"><a href="detail_entry.html" class="btn btn-success btn--arrow">詳細を確認<i class="arrow"></i></a></td>
          </tr>
        </table>
      </div>
      <div class="btn_search_mobile sp"><a class="btn btn-open-popup-search"><span>絞り込み検索</span></a></div>
      <div class="row_paging">
        <div class="pull-left pc"><a href="index.html" class="return_page"><<span>掲載求人一覧に戻る</span></a></div>
        <div class="paging pull-right"><span class="prev disabled"><a href="#"></a></span><span class="numbers current"><a>1</a></span><span class="numbers"><a href="#">2</a></span><span class="numbers"><a href="#">3</a></span><span class="numbers"><a href="#">4</a></span><span class="next"><a href="#"></a></span></div>
      </div>
    </div>
    <input type="hidden" value="gulp" id="gulp">
    <div class="popup popup_search_mobile">
      <div class="popup__content"><a class="popup-btn-close btn--close--x sp">X</a>
        <form action="" method="get" name="form_filter">
          <div class="col col-1">
            <select name="" class="form-control">
              <option value="">性別</option>
              <option value="男">男</option>
              <option value="女">女</option>
            </select>
          </div>
          <div class="col col-1">
            <select name="" class="form-control">
              <option value="">年齢</option>
              <option value="10">10代</option>
              <option value="20">20代</option>
              <option value="30">30代</option>
              <option value="40">40代</option>
              <option value="50">50代</option>
              <option value="60">60代</option>
              <option value="70">70代</option>
              <option value="80">80代</option>
            </select>
          </div>
          <div class="col col-1">
            <select name="" class="form-control select_with_icon">
              <option value="">評価</option>
              <option value="1" class="blue">●</option>
              <option value="2" class="green">▲</option>
              <option value="3" class="red">×</option>
              <option value="4">-</option>
            </select>
          </div>
          <div class="col col-2">
            <select name="" class="form-control">
              <option value="">希望雇用形態</option>
              <option value="1">正社員</option>
              <option value="2">契約社員</option>
              <option value="3">業務委託</option>
              <option value="4">アルバイト</option>
              <option value="5">その他</option>
            </select>
          </div>
          <div class="col col-2">
            <select name="" class="form-control">
              <option value="">ステータス</option>
              <option value="1">面接予定</option>
              <option value="2">選考中</option>
              <option value="3">内定通知済</option>
              <option value="4">未返信</option>
              <option value="5">連絡中</option>
            </select>
          </div>
          <div class="col col-1">
            <button type="submit" class="btn btn-search"><span>絞り込み</span></button>
          </div>
        </form>
      </div>
    </div>
    <ul id="nav-box-mobile" data-target-hamburgermenu="hamburger" class="nav-box-mobile u-fs--m">
      <li id="naxBoxTop" class="nav-box__list--top">
        <div data-target-close="target" class="_btn_close_nav_box"><span class="u-fs--xxxs">MENU</span></div>
      </li>
      <li><a href=""><span>管理画面トップ</span><i>></i></a></li>
      <li><a href=""><span>パスワード変更</span><i>></i></a></li>
      <li><a href=""><span>お問い合わせ</span><i>></i></a></li>
      <li class="logout"><a href=""><span>ログアウト</span></a></li>
    </ul>
    <script src="./js/app.js"></script>
  </body>
</html>

gulp_coporation/src/jade/list_entry.jade
- var page = 'home'
- var title = '食べるんだ管理画面 - 応募者一覧'
- var domain = './'
- var description = ''
- var keywords = ''
doctype html
html(lang='ja')
	head
		include partial/_head
	body
		include partial/_header

		.breadcrumb.pc
			a(href="") 掲載求人一覧 >
			span ホールスタッフ / 札幌成吉思汗しろくま 恵比寿店の応募者一覧
		#page-wrapper.container
			.div_title.u-mt40
				.title_page ホールスタッフ / 札幌成吉思汗しろくま 恵比寿店の応募者一覧
				.id_job.u-mt15 求人ID：10245
			.box_notificate.u-mt30
				ul.box_notificate__ul
					li
						a(href="#") 「管理番号：855」新しい応募がきました。 >
					li
						a(href="#" class="warning") 「管理番号：10847」応募者へのメッセージが未返信です。 >
					li
						a(href="#" class="warning") 「管理番号：1227」応募者へのメッセージが未返信です。 >
					li
						a(href="#") 「管理番号：855」新しい応募がきました。 >
					li
						a(href="#" class="warning") 「管理番号：10847」応募者へのメッセージが未返信です。 >
					li
						a(href="#" class="warning") 「管理番号：1227」応募者へのメッセージが未返信です。 >
				.text-center.u-mt20.sp
					span.btn_show_more すべて表示
			.box_filter.u-mt20.pc
				.pull-left
					form(action="" method="get" name="form_filter")
						.col.col-1.label 絞り込み：
						.col.col-1
							select(name="" class="form-control")
								option(value="") 性別
								option(value="男") 男
								option(value="女") 女
						.col.col-1
							select(name="" class="form-control")
								option(value="") 年齢
								option(value="10") 10代
								option(value="20") 20代
								option(value="30") 30代
								option(value="40") 40代
								option(value="50") 50代
								option(value="60") 60代
								option(value="70") 70代
								option(value="80") 80代
						.col.col-1
							select(name="" class="form-control select_with_icon")
								option(value="") 評価
								option(value="1" class="blue") ●
								option(value="2" class="green") ▲
								option(value="3" class="red") ×
								option(value="4" class="line" ) &nbsp-

						.col.col-2
							select(name="" class="form-control")
								option(value="") 希望雇用形態
								option(value="1") 正社員
								option(value="2") 契約社員
								option(value="3") 業務委託
								option(value="4") アルバイト
								option(value="5") その他
						.col.col-2
							select(name="" class="form-control")
								option(value="") ステータス
								option(value="1") 面接予定
								option(value="2") 選考中
								option(value="3") 内定通知済
								option(value="4") 未返信
								option(value="5") 連絡中
						.col.col-1.col--have--btn
							button(type="submit" class="btn btn-search")
								span 絞り込み
				.pull-right
					a(href="#" class="btn-donwload-csv") 応募者一覧データを <br> ダウンロード（CSV形式）
				.clear-both
			.box_content.u-mt20
				table.rwd-tables.list_entry
					tr.tr_header
						th(width="10%" class="radius-left-top")
							span 管理番号
						th(width="18%")
							span 応募日付
						th(width="20%")
							span 氏名
						th(width="5%")
							span 性別
						th(width="5%")
							span 年齢
						th(width="5%")
							span 評価
						th
							span 希望雇用形態
						th
							span ステータス
						th(width="13%" class="radius-right-top")
					tr
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody 53
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 16:52:15
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 勅使河原 蔵之介
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 男
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 26
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--circle 良い
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody アルバイト
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody
									span.color--blue 面接予定
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								|詳細を確認
								i.arrow
					tr
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody 1655
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 16:52:15
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 唐沢 賢治
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 男
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 19
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--triangle 普通
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody 正社員
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody
									span.color--blue 選考中
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow
					tr.close
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody 17164
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 09:06:48
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 佐古 真帆
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 女
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 34
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--close 悪い
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody 契約社員
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody 不採用
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow
					tr.new
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody
									| 855
									span.icon--new New
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 09:06:48
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 横田 竜也
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 男
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 27
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--nothing -
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody 契約社員
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody
									span.color--red 未返信
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow
					tr
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody 2545
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 16:52:15
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 唐沢 賢治
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 男
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 19
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--triangle 普通
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody 正社員
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody 選考中
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow

					tr
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody 10847
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 16:52:15
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 勅使河原 蔵之介
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 男
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 26
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--circle 良い
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody アルバイト
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody
									span.color--blue 面接予定
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow
					tr.new
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody
									| 1227
									span.icon--new New
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 09:06:48
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 横田 竜也
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 男
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 27
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--nothing -
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody 契約社員
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody
									span.color--red 未返信
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow
					tr.close
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody 978
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 09:06:48
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 佐古 真帆
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 女
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 34
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--close 悪い
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody 契約社員
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody 不採用
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow
					tr
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody 8697
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 16:52:15
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 勅使河原 蔵之介
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 男
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 26
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--circle 良い
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody アルバイト
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody
									span.color--blue 面接予定
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow
			.btn_search_mobile.sp
				a(class="btn btn-open-popup-search")
					span 絞り込み検索
			.row_paging
				.pull-left.pc
					a(href="index.html" class="return_page")
						|<
						span 掲載求人一覧に戻る
				.paging.pull-right
					span.prev.disabled
						a(href="#")
					span.numbers.current
						a 1
					span.numbers
						a(href="#") 2
					span.numbers
						a(href="#") 3
					span.numbers
						a(href="#") 4
					span.next
						a(href="#")
		input(type="hidden" value="gulp" id="gulp")
		.popup.popup_search_mobile
			.popup__content
				a.popup-btn-close.btn--close--x.sp X
				form(action="" method="get" name="form_filter")
					.col.col-1
						select(name="" class="form-control")
							option(value="") 性別
							option(value="男") 男
							option(value="女") 女
					.col.col-1
						select(name="" class="form-control")
							option(value="") 年齢
							option(value="10") 10代
							option(value="20") 20代
							option(value="30") 30代
							option(value="40") 40代
							option(value="50") 50代
							option(value="60") 60代
							option(value="70") 70代
							option(value="80") 80代
					.col.col-1
						select(name="" class="form-control select_with_icon")
							option(value="") 評価
							option(value="1" class="blue") ●
							option(value="2" class="green") ▲
							option(value="3" class="red") ×
							option(value="4" ) -

					.col.col-2
						select(name="" class="form-control")
							option(value="") 希望雇用形態
							option(value="1") 正社員
							option(value="2") 契約社員
							option(value="3") 業務委託
							option(value="4") アルバイト
							option(value="5") その他
					.col.col-2
						select(name="" class="form-control")
							option(value="") ステータス
							option(value="1") 面接予定
							option(value="2") 選考中
							option(value="3") 内定通知済
							option(value="4") 未返信
							option(value="5") 連絡中
					.col.col-1
						button(type="submit" class="btn btn-search")
							span 絞り込み
		include partial/_hamburger
		script(src='./js/app.js')
