__design/SP/mybox/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>キレイにスルンダ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width,initial-scale=1.0 maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="../img/desktopicon.png">
    <link rel="icon" type="image/png" href="/ico/favicon.png" sizes="32x32">
  </head>
  <body>
    <div data-target-wrap="hamburger" class="globalmenu__wrap">
      <header class="header--primary">
        <div class="header--primary__inner u-cf">
          <div data-trigger-quicksearch="quicksearch" class="header--primary__search"><i class="c-icon--search"></i><span class="-primary__search__text">SEARCH</span></div>
          <h2 class="header--primary__logo"><a href="#"><img src="../img/svg/top-logo.svg" alt="キレイにスルンダ"></a></h2>
          <div class="header--primary__right">
            <div data-trigger-hamburgermenu="hamburger" class="nav--hamburger"><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__text">MENU</span></div>
          </div>
        </div>
      </header>
      <!--.primary-box--noPadding-->
      <div class="secondary-box">
        <div class="secondary-box__topBlock">
          <h1 class="secondary__ttl--side u-fs--m u-fwb u-mt15">お気に入りBOX</h1>
          <div class="secondary__side u-mt15"><span class="result__num u-fs--xl u-fwb">00</span><span class="u-fs--xs">件キープしています</span></div>
        </div>
        <p class="secondary-box__sub__text u-fs--xs u-mt10"><i class="c-icon--people"></i><span class="u-fs--xs">example@runda.com</span>さん</p>
      </div>
      <div class="column-box--gray">
        <div class="column-box--wide__list">
          <div class="-wide__list__tagBlock">
            <div class="-wide__list__tagBlock--l"><span class="u-fs--xxs c-tag--secret--flow">シークレット</span><span class="u-fs--xxs c-tag--celebration">入社お祝い金1万円</span></div>
            <div class="-wide__list__tagBlock--r"><span class="u-fs--xxs c-tag--new--flow">NEW</span></div>
          </div>
          <h2 class="u-fs--xlh -wide__list__ttl u-fwb u-mt10"><span class="_list__multiTag__text">路地裏の一軒家リストランテ☆上質食材と300種以上のワインが自慢★完全週休2日制も選べます♪</span></h2>
          <h3 class="-wide__list__subTtl u-fs--xs u-mt10 u-fwb">株式会社carta bianca</h3>
          <div class="-wide__list__bottom u-mt15">
            <div style="background-image:url(../img/media/media01.jpg)" class="-wide__list__img"></div>
            <ul class="-wide__list__details u-fs--sh">
              <li class="-wide__list__detail u-fs--s"><span class="_list__detail__title">職種</span><span>：調理スタッフ サービス・ホール ソムリエ 店長候補・マネージャー</span></li>
              <li class="-wide__list__detail"><span class="_list__detail__title">給与</span><span>：月給23万円〜30万円【フルタイム】月給：23～30万円（未経験者、経験浅い方は月給20万円〜）</span></li>
              <li class="-wide__list__detail--multiline"><span class="_list__detail__title">勤務地</span><span>：東京都渋谷区代々木2-20-15テキストテキストテキストテキスト</span></li>
              <li class="-wide__list__detail"><span class="_list__detail__title">雇用形態</span><span>：正社員</span></li>
              <li class="-wide__list__detail"><span class="_list__detail__title">こだわり</span><span>：未経験歓迎/独立支援/まかないつき</span></li>
            </ul>
          </div>
          <div class="_list__button__block u-mt15">
            <div class="c-button-square--mm--gray u-fs--xs"><span class="c-font-icon--attachment"></span>削除する</div>
            <div class="c-button-square--mm u-fs--xs">もっと詳しくみる</div>
          </div>
          <p class="-wide__list__footer u-fs--xxs u-mt10">提供元：求人@飲食店.COM</p>
        </div>
        <div class="column-box--wide__list u-mt15">
          <div class="-wide__list__tagBlock">
            <div class="-wide__list__tagBlock--l"><span class="u-fs--xxs c-tag--secret--flow">シークレット</span><span class="u-fs--xxs c-tag--celebration">入社お祝い金1万円</span></div>
            <div class="-wide__list__tagBlock--r"><span class="u-fs--xxs c-tag--new--flow">NEW</span></div>
          </div>
          <h2 class="u-fs--xlh -wide__list__ttl u-fwb u-mt10"><span class="_list__multiTag__text">路地裏の一軒家リストランテ☆上質食材と300種以上のワインが自慢★完全週休2日制も選べます♪</span></h2>
          <h3 class="-wide__list__subTtl u-fs--xs u-mt10 u-fwb">株式会社carta bianca</h3>
          <div class="-wide__list__bottom u-mt15">
            <div style="background-image:url(../img/media/media01.jpg)" class="-wide__list__img"></div>
            <ul class="-wide__list__details u-fs--sh">
              <li class="-wide__list__detail u-fs--s"><span class="_list__detail__title">職種</span><span>：調理スタッフ サービス・ホール ソムリエ 店長候補・マネージャー</span></li>
              <li class="-wide__list__detail"><span class="_list__detail__title">給与</span><span>：月給23万円〜30万円【フルタイム】月給：23～30万円（未経験者、経験浅い方は月給20万円〜）</span></li>
              <li class="-wide__list__detail--multiline"><span class="_list__detail__title">勤務地</span><span>：東京都渋谷区代々木2-20-15テキストテキストテキストテキスト</span></li>
              <li class="-wide__list__detail"><span class="_list__detail__title">雇用形態</span><span>：正社員</span></li>
              <li class="-wide__list__detail"><span class="_list__detail__title">こだわり</span><span>：未経験歓迎/独立支援/まかないつき</span></li>
            </ul>
          </div>
          <div class="_list__button__block u-mt15">
            <div class="c-button-square--mm--gray u-fs--xs"><span class="c-font-icon--attachment"></span>キープする</div>
            <div class="c-button-square--mm u-fs--xs">もっと詳しくみる</div>
          </div>
          <p class="-wide__list__footer u-fs--xxs u-mt10">提供元：求人@飲食店.COM</p>
        </div>
        <div class="pager">
          <ul class="pager__lists">
            <li class="pager__list is-disable u-fs--xs">&lt; 前の10件</li>
            <li class="pager__list__num u-fs--m">1/10</li>
            <li class="pager__list u-fs--xs"><a href="#">次の10件 &gt;</a></li>
          </ul>
        </div>
      </div>
      <footer>
        <div class="footer__inner"><span class="u-fs--xs">©2016 kireinista Co.,Ltd.</span></div>
      </footer>
      <div data-target-close="target" class="overlay"></div>
    </div>
    <ul data-target-hamburgermenu="hamburger" class="nav-box u-fs--xs">
      <li class="nav-box__list--top">
        <div data-modal-trigger="login" class="c-button-square--s"><span>ログイン</span></div>
        <div data-target-close="target" class="_list--top__r"><i class="c-icon--cross"></i><span class="u-fs--xxxs">MENU</span></div>
      </li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--home"></i></span><span>HOME</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--secret"></i></span><span>シークレット求人</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--content"></i></span><span>コンテンツ一覧</span></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--book"></i></span><span>キレイJOB図鑑</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--beauty"></i></span><span>キレイにナルンダ</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--hat"></i></span><span>集客の知恵袋</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--star"></i></span><span>スタア発掘</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>キレイにスルンダとは</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>お問い合わせ</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>運営会社</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>プライバシーポリシー</span></a></li>
    </ul>
    <!--下記必要なくなるかも-->
    <ul data-target-searchmenu="search" class="nav-box--left u-fs--xs">
      <li class="nav-box__list--top">
        <div data-target-close="target" class="_list--top__r"><i class="c-icon--cross"></i><span class="u-fs--xxxs">SEARCH</span></div>
      </li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">職種</span><span data-target-history="target" class="nav-box__search__history">パティシエ</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">勤務地</span><span data-target-history="target" class="nav-box__search__history is-empty">東京都</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">雇用形態</span><span data-target-history="target" class="nav-box__search__history is-empty">---</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">こだわり</span><span data-target-history="target" class="nav-box__search__history is-empty">---</span></a></li>
    </ul>
    <div data-remodal-id="login" class="modal"><i data-remodal-action="close" class="c-icon--cross"></i>
      <div class="modal__inner u-fs--xs"><a href="#" class="c-button-square--social c-button-square--social--wide c-facebook"><span class="u-fs--xs">Facebookでログイン</span></a><a href="#" class="c-button-square--social c-button-square--social--wide c-twitter u-mt15"><span class="u-fs--xs">Twitterでログイン</span></a>
        <form>
          <input type="email" placeholder="メールアドレスでログイン" autocomplete="on" class="form--primary__text u-fs--l u-mt15">
          <input type="password" placeholder="パスワード" autocomplete="on" class="form--primary__text u-fs--l u-mt5">
          <p class="form--login__repletion u-fs--xs--lh--form u-mt10 u-txtr"><a href="#" data-modal-trigger="password">パスワードを忘れたかたはコチラ</a></p>
          <button type="submit" data-submit="trigger" class="c-button-square--full u-fs--xs u-mt10"><span class="button-inner">ログイン</span></button>
        </form><a href="#" data-modal-trigger="registration" class="c-button-circle u-mt20">メールアドレスで新規登録</a>
      </div>
    </div>
    <!--modal分岐password再設定-->
    <div data-remodal-id="password" class="modal"><i data-remodal-action="close" class="c-icon--cross"></i>
      <div class="modal__inner u-fs--xs">
        <h3 class="modal__inner__ttl u-fs--s u-fwb">パスワードの再設定</h3>
        <div class="modal__inner__text">
          登録したメールアドレスに、
          パスワードのリセット用のURLが届きます。
        </div>
        <form novalidate>
          <input type="email" placeholder="登録時のメールアドレス" data-mail="target" data-validate-password="target" autocomplete="on" required class="form--primary__text u-fs--l u-mt15">
          <div class="u-txtl">
            <p data-error="required" class="form__error u-fs--xxsh u-mt10">メールアドレスを入力して下さい</p>
            <p data-error="mail" class="form__error u-fs--xxsh u-mt10">メールアドレスの入力に誤りがあります。</p>
          </div>
          <button type="submit" data-submit-modalother="trigger" class="c-button-square--full u-fs--xs u-mt10"><span class="button-inner">送信</span></button>
        </form>
      </div>
    </div>
    <!--modal分岐新規登録-->
    <div data-remodal-id="registration" class="modal"><i data-remodal-action="close" class="c-icon--cross"></i>
      <div class="modal__inner u-fs--xs">
        <h3 class="modal__inner__ttl u-fs--s u-fwb">メールアドレスで新規登録</h3>
        <form novalidate>
          <input type="email" placeholder="メールアドレスでログイン" data-mail="target" autocomplete="on" data-validate-register="target" required class="form--primary__text u-fs--l u-mt15">
          <div class="u-txtl">
            <p data-error="required" class="form__error u-fs--xxsh u-mt10">メールアドレスを入力して下さい</p>
            <p data-error="mail" class="form__error u-fs--xxsh u-mt10">メールアドレスの入力に誤りがあります。</p>
          </div>
          <input type="password" placeholder="パスワード(6桁以上)" autocomplete="on" data-validate-register="target" data-maxlength="8" data-minlength="6" data-alphanumeric="target" required class="form--primary__text u-fs--l u-mt5">
          <div class="u-txtl">
            <p data-error="required" class="form__error u-fs--xxshl u-mt10">パスワードを入力してください。</p>
            <p data-error="minlength" class="form__error u-fs--xxsh u-mt10">6桁以上で入力して下さい</p>
            <p data-error="maxlength" class="form__error u-fs--xxsh u-mt10">8桁以下で入力して下さい</p>
            <p data-error="alphanumeric" class="form__error u-fs--xxsh u-mt10">半角英数で入力して下さい</p>
          </div>
          <button type="submit" data-submit-modal="trigger" class="c-button-square--full u-fs--xs u-mt10"><span class="button-inner">新規登録</span></button>
        </form>
        <div class="modal__inner__text--notes u-fs--xxsh u-txtl u-mt15">ログインまたは新規登録することにより、スタア発掘の利用規約、プライバシーポリシーに同意したことになります。</div>
      </div>
    </div>
    <!--.modal(data-remodal-id='complete')-->
    <!--	i.c-icon--close(data-remodal-action='close')-->
    <!--	.modal__inner.u-fs--xs-->
    <!--		h3.modal__ttl-->
    <!--			| メールアドレスで新規登録-->
    <!--		.modal__inner__text-->
    <!--			| 本人確認のため、登録されたメールアドレスにメールが送信されました。-->
    <!--			| メール内のURLをクリックして、登録を完了させてください。-->
    <!--		p.modal__ttl-->
    <!--			| 会員登録ありがとうございました。-->
    <!--		.modal__inner__text--notes.modal__inner__text--notes--border-->
    <!--			| ※メールが届かない場合は、メールアドレスが間違っている場合がありますので、お手数をお掛けいたしますが、再度ご登録のお手続きを行ってください。-->
    <script src="../js/app.js"></script>
  </body>
</html>

__gulp/lunda_beauty_sp/src/jade/mybox/index.jade
- var page = 'home'
- var title = 'キレイにスルンダ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'

doctype html
html(lang='ja')
	head
		include ../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../partial/_header
			//.primary-box--noPadding
			.secondary-box
				.secondary-box__topBlock
					h1.secondary__ttl--side.u-fs--m.u-fwb.u-mt15 お気に入りBOX
					.secondary__side.u-mt15
						span.result__num.u-fs--xl.u-fwb 00
						span.u-fs--xs 件キープしています
				p.secondary-box__sub__text.u-fs--xs.u-mt10
					i.c-icon--people
					span.u-fs--xs example@runda.com
					| さん
			.column-box--gray
				.column-box--wide__list
					.-wide__list__tagBlock
						.-wide__list__tagBlock--l
							span.u-fs--xxs.c-tag--secret--flow シークレット
							span.u-fs--xxs.c-tag--celebration 入社お祝い金1万円
						.-wide__list__tagBlock--r
							span.u-fs--xxs.c-tag--new--flow NEW
					h2.u-fs--xlh.-wide__list__ttl.u-fwb.u-mt10
						span._list__multiTag__text 路地裏の一軒家リストランテ☆上質食材と300種以上のワインが自慢★完全週休2日制も選べます♪
					h3.-wide__list__subTtl.u-fs--xs.u-mt10.u-fwb
						| 株式会社carta bianca
					.-wide__list__bottom.u-mt15
						.-wide__list__img(style="background-image:url(#{domain}img/media/media01.jpg)")
						ul.-wide__list__details.u-fs--sh
							li.-wide__list__detail.u-fs--s
								span._list__detail__title 職種
								span ：調理スタッフ サービス・ホール ソムリエ 店長候補・マネージャー
							li.-wide__list__detail
								span._list__detail__title 給与
								span ：月給23万円〜30万円【フルタイム】月給：23～30万円（未経験者、経験浅い方は月給20万円〜）
							li.-wide__list__detail--multiline
								span._list__detail__title 勤務地
								span ：東京都渋谷区代々木2-20-15テキストテキストテキストテキスト
							li.-wide__list__detail
								span._list__detail__title 雇用形態
								span ：正社員
							li.-wide__list__detail
								span._list__detail__title こだわり
								span ：未経験歓迎/独立支援/まかないつき
					._list__button__block.u-mt15
						.c-button-square--mm--gray.u-fs--xs
							span.c-font-icon--attachment
							| 削除する
						.c-button-square--mm.u-fs--xs
							| もっと詳しくみる
					p.-wide__list__footer.u-fs--xxs.u-mt10 提供元：求人@飲食店.COM
				.column-box--wide__list.u-mt15
					.-wide__list__tagBlock
						.-wide__list__tagBlock--l
							span.u-fs--xxs.c-tag--secret--flow シークレット
							span.u-fs--xxs.c-tag--celebration 入社お祝い金1万円
						.-wide__list__tagBlock--r
							span.u-fs--xxs.c-tag--new--flow NEW
					h2.u-fs--xlh.-wide__list__ttl.u-fwb.u-mt10
						span._list__multiTag__text 路地裏の一軒家リストランテ☆上質食材と300種以上のワインが自慢★完全週休2日制も選べます♪
					h3.-wide__list__subTtl.u-fs--xs.u-mt10.u-fwb
						| 株式会社carta bianca
					.-wide__list__bottom.u-mt15
						.-wide__list__img(style="background-image:url(#{domain}img/media/media01.jpg)")
						ul.-wide__list__details.u-fs--sh
							li.-wide__list__detail.u-fs--s
								span._list__detail__title 職種
								span ：調理スタッフ サービス・ホール ソムリエ 店長候補・マネージャー
							li.-wide__list__detail
								span._list__detail__title 給与
								span ：月給23万円〜30万円【フルタイム】月給：23～30万円（未経験者、経験浅い方は月給20万円〜）
							li.-wide__list__detail--multiline
								span._list__detail__title 勤務地
								span ：東京都渋谷区代々木2-20-15テキストテキストテキストテキスト
							li.-wide__list__detail
								span._list__detail__title 雇用形態
								span ：正社員
							li.-wide__list__detail
								span._list__detail__title こだわり
								span ：未経験歓迎/独立支援/まかないつき
					._list__button__block.u-mt15
						.c-button-square--mm--gray.u-fs--xs
							span.c-font-icon--attachment
							| キープする
						.c-button-square--mm.u-fs--xs
							| もっと詳しくみる
					p.-wide__list__footer.u-fs--xxs.u-mt10 提供元：求人@飲食店.COM
				.pager
					include ../partial/_pager
			include ../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../partial/_leftNav
		include ../partial/modal/_login
		script(src='#{domain}js/app.js')
