gulp_coporation/dist/partial/modal/hangup.html

<div data-remodal-id="hangupmodal" data-search-id="hangup" class="modal">
  <h1 class="modal__ttl u-fs--l">職種</h1>
  <div class="modal__inner u-fs--xs">
    <h2 class="modal__sub__ttl">応募条件</h2>
    <div class="modal__checkbox">
      <input type="checkbox" name="a" id="hangupCheck01" data-num="1" class="search-checkbox"/>
      <label for="hangupCheck01" class="search-checkbox__label--modal u-mt10">未経験OK</label>
      <input type="checkbox" name="a" id="hangupCheck02" data-num="2" class="search-checkbox"/>
      <label for="hangupCheck02" class="search-checkbox__label--modal u-mt10">年齢不問</label>
      <input type="checkbox" name="a" id="hangupCheck03" data-num="3" class="search-checkbox"/>
      <label for="hangupCheck03" class="search-checkbox__label--modal u-mt10">外国人歓迎</label>
      <input type="checkbox" name="a" id="hangupCheck04" data-num="4" class="search-checkbox"/>
      <label for="hangupCheck04" class="search-checkbox__label--modal u-mt10">WワークOK</label>
    </div>
    <h2 class="modal__sub__ttl u-mt30">待遇</h2>
    <div class="modal__checkbox">
      <input type="checkbox" name="a" id="hangupCheck05" data-num="5" class="search-checkbox"/>
      <label for="hangupCheck05" class="search-checkbox__label--modal u-mt10">社会保険あり</label>
      <input type="checkbox" name="a" id="hangupCheck06" data-num="6" class="search-checkbox"/>
      <label for="hangupCheck06" class="search-checkbox__label--modal u-mt10">寮・社宅あり</label>
      <input type="checkbox" name="a" id="hangupCheck07" data-num="7" class="search-checkbox"/>
      <label for="hangupCheck07" class="search-checkbox__label--modal u-mt10">各種手当充実</label>
      <input type="checkbox" name="a" id="hangupCheck08" data-num="8" class="search-checkbox"/>
      <label for="hangupCheck08" class="search-checkbox__label--modal u-mt10">交通費支給</label>
      <input type="checkbox" name="a" id="hangupCheck09" data-num="9" class="search-checkbox"/>
      <label for="hangupCheck09" class="search-checkbox__label--modal u-mt10">研修あり</label>
      <input type="checkbox" name="a" id="hangupCheck10" data-num="10" class="search-checkbox"/>
      <label for="hangupCheck10" class="search-checkbox__label--modal u-mt10">制服貸与</label>
      <input type="checkbox" name="a" id="hangupCheck11" data-num="11" class="search-checkbox"/>
      <label for="hangupCheck11" class="search-checkbox__label--modal u-mt10">週休2日</label>
      <input type="checkbox" name="a" id="hangupCheck12" data-num="12" class="search-checkbox"/>
      <label for="hangupCheck12" class="search-checkbox__label--modal u-mt10">社員登用あり</label>
    </div>
    <h2 class="modal__sub__ttl u-mt30">企画・運営</h2>
    <div class="modal__checkbox">
      <input type="checkbox" name="a" id="hangupCheck13" data-num="13" class="search-checkbox"/>
      <label for="hangupCheck13" class="search-checkbox__label--modal u-mt10">オープニング</label>
      <input type="checkbox" name="a" id="hangupCheck14" data-num="14" class="search-checkbox"/>
      <label for="hangupCheck14" class="search-checkbox__label--modal u-mt10">高収入</label>
      <input type="checkbox" name="a" id="hangupCheck15" data-num="15" class="search-checkbox"/>
      <label for="hangupCheck15" class="search-checkbox__label--modal u-mt10">定休日あり</label>
      <input type="checkbox" name="a" id="hangupCheck16" data-num="16" class="search-checkbox"/>
      <label for="hangupCheck16" class="search-checkbox__label--modal u-mt10">服装自由</label>
      <input type="checkbox" name="a" id="hangupCheck17" data-num="17" class="search-checkbox"/>
      <label for="hangupCheck17" class="search-checkbox__label--modal u-mt10">まかないあり</label>
      <input type="checkbox" name="a" id="hangupCheck18" data-num="18" class="search-checkbox"/>
      <label for="hangupCheck18" class="search-checkbox__label--modal u-mt10">個人経営</label>
      <input type="checkbox" name="a" id="hangupCheck19" data-num="19" class="search-checkbox"/>
      <label for="hangupCheck19" class="search-checkbox__label--modal u-mt10">海外勤務あり</label>
      <input type="checkbox" name="a" id="hangupCheck20" data-num="20" class="search-checkbox"/>
      <label for="hangupCheck20" class="search-checkbox__label--modal u-mt10">リゾート</label>
      <input type="checkbox" name="a" id="hangupCheck21" data-num="21" class="search-checkbox"/>
      <label for="hangupCheck21" class="search-checkbox__label--modal u-mt10">独立希望者歓迎</label>
    </div>
    <div class="modal__btn">
      <div data-remodal-action="close" class="c-button-square--mm">閉じる</div>
    </div>
  </div>
</div>

__gulp/lunda_beauty/src/jade/partial/modal/hangup.jade
.modal(data-remodal-id='hangupmodal' data-search-id="hangup")
	h1.modal__ttl.u-fs--l 職種
	.modal__inner.u-fs--xs
		h2.modal__sub__ttl 応募条件
		.modal__checkbox
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck01" data-num="1")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck01")
				| 未経験OK
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck02" data-num="2")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck02")
				| 年齢不問
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck03" data-num="3")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck03")
				| 外国人歓迎
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck04" data-num="4")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck04")
				| WワークOK
		h2.modal__sub__ttl.u-mt30 待遇
		.modal__checkbox
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck05" data-num="5")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck05")
				| 社会保険あり
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck06" data-num="6")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck06")
				| 寮・社宅あり
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck07" data-num="7")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck07")
				| 各種手当充実
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck08" data-num="8")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck08")
				| 交通費支給
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck09" data-num="9")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck09")
				| 研修あり
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck10" data-num="10")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck10")
				| 制服貸与
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck11" data-num="11")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck11")
				| 週休2日
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck12" data-num="12")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck12")
				| 社員登用あり
		h2.modal__sub__ttl.u-mt30 企画・運営
		.modal__checkbox
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck13" data-num="13")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck13")
				| オープニング
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck14" data-num="14")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck14")
				| 高収入
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck15" data-num="15")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck15")
				| 定休日あり
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck16" data-num="16")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck16")
				| 服装自由
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck17" data-num="17")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck17")
				| まかないあり
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck18" data-num="18")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck18")
				| 個人経営
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck19" data-num="19")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck19")
				| 海外勤務あり
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck20" data-num="20")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck20")
				| リゾート
			input.search-checkbox(type="checkbox" name="a" id="hangupCheck21" data-num="21")
			label.search-checkbox__label--modal.u-mt10(for="hangupCheck21")
				| 独立希望者歓迎
		.modal__btn
			.c-button-square--mm(data-remodal-action='close')
				|閉じる
