gulp_coporation/dist/partial/modal/job.html

<div data-remodal-id="jobmodal" data-search-id="job" class="modal">
  <h1 class="modal__ttl u-fs--l">職種</h1>
  <div class="modal__inner u-fs--xs">
    <h2 class="modal__sub__ttl">調理</h2>
    <div class="modal__checkbox">
      <input type="checkbox" name="a" id="jobcheck01" data-num="1" class="search-checkbox"/>
      <label for="jobcheck01" class="search-checkbox__label--modal u-mt10">シェフ・キッチン</label>
      <input type="checkbox" name="a" id="jobcheck02" data-num="2" class="search-checkbox"/>
      <label for="jobcheck02" class="search-checkbox__label--modal u-mt10">パティシエ</label>
      <input type="checkbox" name="a" id="jobcheck03" data-num="3" class="search-checkbox"/>
      <label for="jobcheck03" class="search-checkbox__label--modal u-mt10">バーテンダー</label>
      <input type="checkbox" name="a" id="jobcheck04" data-num="4" class="search-checkbox"/>
      <label for="jobcheck04" class="search-checkbox__label--modal u-mt10">ソムリエ</label>
      <input type="checkbox" name="a" id="jobcheck05" data-num="5" class="search-checkbox"/>
      <label for="jobcheck05" class="search-checkbox__label--modal u-mt10">ブランジェ・製パン</label>
      <input type="checkbox" name="a" id="jobcheck06" data-num="6" class="search-checkbox"/>
      <label for="jobcheck06" class="search-checkbox__label--modal u-mt10">バリスタ</label>
      <input type="checkbox" name="a" id="jobcheck07" data-num="7" class="search-checkbox"/>
      <label for="jobcheck07" class="search-checkbox__label--modal u-mt10">ピッツアイオーロ</label>
      <input type="checkbox" name="a" id="jobcheck08" data-num="8" class="search-checkbox"/>
      <label for="jobcheck08" class="search-checkbox__label--modal u-mt10">製造・加工</label>
      <input type="checkbox" name="a" id="jobcheck09" data-num="9" class="search-checkbox"/>
      <label for="jobcheck09" class="search-checkbox__label--modal u-mt10">寿司職人</label>
      <input type="checkbox" name="a" id="jobcheck10" data-num="10" class="search-checkbox"/>
      <label for="jobcheck10" class="search-checkbox__label--modal u-mt10">その他</label>
    </div>
    <h2 class="modal__sub__ttl u-mt30">接客・販売</h2>
    <div class="modal__checkbox">
      <input type="checkbox" name="a" id="jobcheck11" data-num="11" class="search-checkbox"/>
      <label for="jobcheck11" class="search-checkbox__label--modal u-mt10">店長・マネージャー</label>
      <input type="checkbox" name="a" id="jobcheck12" data-num="12" class="search-checkbox"/>
      <label for="jobcheck12" class="search-checkbox__label--modal u-mt10">ホールスタッフ</label>
      <input type="checkbox" name="a" id="jobcheck13" data-num="13" class="search-checkbox"/>
      <label for="jobcheck13" class="search-checkbox__label--modal u-mt10">販売スタッフ</label>
      <input type="checkbox" name="a" id="jobcheck14" data-num="14" class="search-checkbox"/>
      <label for="jobcheck14" class="search-checkbox__label--modal u-mt10">デリバリースタッフ</label>
      <input type="checkbox" name="a" id="jobcheck15" data-num="15" class="search-checkbox"/>
      <label for="jobcheck15" class="search-checkbox__label--modal u-mt10">レセプショニスト</label>
    </div>
    <h2 class="modal__sub__ttl u-mt30">企画・運営</h2>
    <div class="modal__checkbox">
      <input type="checkbox" name="a" id="jobcheck16" data-num="16" class="search-checkbox"/>
      <label for="jobcheck16" class="search-checkbox__label--modal u-mt10">経営幹部</label>
      <input type="checkbox" name="a" id="jobcheck17" data-num="17" class="search-checkbox"/>
      <label for="jobcheck17" class="search-checkbox__label--modal u-mt10">SV・営業</label>
      <input type="checkbox" name="a" id="jobcheck18" data-num="18" class="search-checkbox"/>
      <label for="jobcheck18" class="search-checkbox__label--modal u-mt10">本部スタッフ</label>
      <input type="checkbox" name="a" id="jobcheck19" data-num="19" class="search-checkbox"/>
      <label for="jobcheck19" class="search-checkbox__label--modal u-mt10">栄養士・管理栄養士</label>
    </div>
    <div class="modal__btn">
      <div data-remodal-action="close" class="c-button-square--mm">閉じる</div>
    </div>
  </div>
</div>

__gulp/lunda_beauty/src/jade/partial/modal/job.jade
.modal(data-remodal-id='jobmodal' data-search-id="job")
	h1.modal__ttl.u-fs--l 職種
	.modal__inner.u-fs--xs
		h2.modal__sub__ttl 調理
		.modal__checkbox
			input.search-checkbox(type="checkbox" name="a" id="jobcheck01" data-num="1")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck01")
				| シェフ・キッチン
			input.search-checkbox(type="checkbox" name="a" id="jobcheck02" data-num="2")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck02")
				| パティシエ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck03" data-num="3")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck03")
				| バーテンダー
			input.search-checkbox(type="checkbox" name="a" id="jobcheck04" data-num="4")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck04")
				| ソムリエ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck05" data-num="5")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck05")
				| ブランジェ・製パン
			input.search-checkbox(type="checkbox" name="a" id="jobcheck06" data-num="6")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck06")
				| バリスタ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck07" data-num="7")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck07")
				| ピッツアイオーロ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck08" data-num="8")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck08")
				| 製造・加工
			input.search-checkbox(type="checkbox" name="a" id="jobcheck09" data-num="9")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck09")
				| 寿司職人
			input.search-checkbox(type="checkbox" name="a" id="jobcheck10" data-num="10")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck10")
				| その他
		h2.modal__sub__ttl.u-mt30 接客・販売
		.modal__checkbox
			input.search-checkbox(type="checkbox" name="a" id="jobcheck11" data-num="11")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck11")
				| 店長・マネージャー
			input.search-checkbox(type="checkbox" name="a" id="jobcheck12" data-num="12")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck12")
				| ホールスタッフ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck13" data-num="13")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck13")
				| 販売スタッフ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck14" data-num="14")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck14")
				| デリバリースタッフ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck15" data-num="15")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck15")
				| レセプショニスト
		h2.modal__sub__ttl.u-mt30 企画・運営
		.modal__checkbox
			input.search-checkbox(type="checkbox" name="a" id="jobcheck16" data-num="16")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck16")
				| 経営幹部
			input.search-checkbox(type="checkbox" name="a" id="jobcheck17" data-num="17")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck17")
				| SV・営業
			input.search-checkbox(type="checkbox" name="a" id="jobcheck18" data-num="18")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck18")
				| 本部スタッフ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck19" data-num="19")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck19")
				| 栄養士・管理栄養士
		.modal__btn
			.c-button-square--mm(data-remodal-action='close')
				|閉じる
