website/public/sp/html/about/company/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>キレイにスルンダ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width,initial-scale=1.0 maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../../../css/app.css">
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link rel="icon" type="image/png" href="/ico/favicon.png" sizes="32x32">
  </head>
  <body>
    <div data-target-wrap="hamburger" class="globalmenu__wrap">
      <header class="header--primary">
        <div class="header--primary__inner u-cf">
          <div data-trigger-quicksearch="quicksearch" class="header--primary__search"><i class="c-icon--search"></i><span class="-primary__search__text">SEARCH</span></div>
          <h2 class="header--primary__logo"><a href="#"><img src="../../../img/svg/top-logo.svg" alt="キレイにスルンダ"></a></h2>
          <div class="header--primary__right">
            <div data-trigger-hamburgermenu="hamburger" class="nav--hamburger"><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__text">MENU</span></div>
          </div>
        </div>
      </header>
      <div class="primary-box--noPadding">
        <!--.contents-box--recruit__top-->
        <div class="primary-box__topBlock">
          <h1 class="list__ttl--normal u-fs--m u-fwb">運営会社</h1>
        </div>
        <div class="list--primary u-mt15">
          <ul>
            <li class="list--primary__row u-mt15">
              <h3 class="u-fs--s u-fwb">
                商
                &nbsp;
                号
              </h3>
              <div class="list--primary__text u-mt15"><span class="u-fs--sh">株式会社Wiz</span></div>
            </li>
            <li class="list--primary__row u-mt15">
              <h3 class="u-fs--s u-fwb">所在地</h3>
              <div class="list--primary__text u-mt15"><span class="u-fs--sh">東京都豊島区南大塚2-25-15 South新大塚ビル12F</span></div>
            </li>
            <li class="list--primary__row u-mt15">
              <h3 class="u-fs--s u-fwb">
                設
                &nbsp;
                立
              </h3>
              <div class="list--primary__text u-mt15"><span class="u-fs--sh">2012年4月18日</span></div>
            </li>
            <li class="list--primary__row u-mt15">
              <h3 class="u-fs--s u-fwb">所在地</h3>
              <div class="list--primary__text u-mt15"><span class="u-fs--sh">東京都豊島区南大塚2-25-15 South新大塚ビル12F</span></div>
            </li>
            <li class="list--primary__row u-mt15">
              <h3 class="u-fs--s u-fwb">事業内容</h3>
              <div class="list--primary__text u-mt15"><span class="u-fs--sh">NTT事業、モバイル事業、ヘルスケア事業、オフィスコンサル事業、人事コンサル事業、求人メディア運営事業、比較メディア事業、VNO事業、VNOサポート事業、社内システム構築事業、クリエイティブ制作事業</span></div>
            </li>
            <li class="list--primary__row u-mt15">
              <h3 class="u-fs--s u-fwb">代表取締役</h3>
              <div class="list--primary__text u-mt15"><span class="u-fs--sh">
                  山﨑
                  &nbsp;
                  俊</span></div>
            </li>
            <li class="list--primary__row u-mt15">
              <h3 class="u-fs--s u-fwb">資本金</h3>
              <div class="list--primary__text u-mt15"><span class="u-fs--sh">6,000万円 (資本準備金含む)</span></div>
            </li>
            <li class="list--primary__row u-mt15">
              <h3 class="u-fs--s u-fwb">決算期</h3>
              <div class="list--primary__text u-mt15"><span class="u-fs--sh">11月30日</span></div>
            </li>
            <li class="list--primary__row u-mt15">
              <h3 class="u-fs--s u-fwb">HP</h3>
              <div class="list--primary__text u-mt15"><a href="http://012grp.co.jp/"><span class="u-fs--sh">http://012grp.co.jp/</span></a></div>
            </li>
          </ul>
        </div>
      </div>
      <footer>
        <div class="footer__inner"><span class="u-fs--xs">&copy;2016 Wiz Co.,Ltd.</span></div>
      </footer>
      <div data-target-close="target" class="overlay"></div>
    </div>
    <ul data-target-hamburgermenu="hamburger" class="nav-box u-fs--xs">
      <li class="nav-box__list--top">
        <div data-modal-trigger="login" class="c-button-square--s"><span>ログイン</span></div>
        <div data-target-close="target" class="_list--top__r"><i class="c-icon--close"></i><span>MENU</span></div>
      </li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--home"></i></span><span>HOME</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--secret"></i></span><span>シークレット求人</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--content"></i></span><span>コンテンツ一覧</span></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--trend"></i></span><span>食トレンド</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--interview"></i></span><span>インタビュー</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--skill"></i></span><span>スキルアップ</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--work"></i></span><span>労務Q&A</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--career"></i></span><span>就食ノウハウ</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list u-fs--xs u-fwb"><a href="#" class="nav-box__list__link nav-box__list__back"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--chopsticks"></i></span><span>しゃべるんだ</span><i class="c-icon--triangle"></i></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>キレイにスルンダとは</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>お問い合わせ</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>運営会社</span></a></li>
      <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--triangle u-mr5"></i><span>プライバシーポリシー</span></a></li>
    </ul>
    <!--下記必要なくなるかも-->
    <ul data-target-searchmenu="search" class="nav-box--left u-fs--xs">
      <li class="nav-box__list--top">
        <div data-target-close="target" class="_list--top__r"><i class="c-icon--close"></i><span>SEARCH</span></div>
      </li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">職種</span><span data-target-history="target" class="nav-box__search__history">パティシエ</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">勤務地</span><span data-target-history="target" class="nav-box__search__history is-empty">東京都</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">雇用形態</span><span data-target-history="target" class="nav-box__search__history is-empty">---</span></a></li>
      <li class="nav-box__list u-fs--s u-fwb"><a href="#" class="nav-box__list__link"><span class="nav-box__text">こだわり</span><span data-target-history="target" class="nav-box__search__history is-empty">---</span></a></li>
    </ul>
    <div data-remodal-id="login" class="modal"><i data-remodal-action="close" class="c-icon--close"></i>
      <div class="modal__inner u-fs--xs"><a href="#" class="c-button-square--social c-button-square--social--wide c-facebook"><span class="u-fs--xs">Facebookでログイン</span></a><a href="#" class="c-button-square--social c-button-square--social--wide c-twitter u-mt15"><span class="u-fs--xs">Twitterでログイン</span></a>
        <form>
          <input type="email" placeholder="メールアドレスでログイン" autocomplete="on" class="form--primary__text u-fs--l u-mt15">
          <input type="password" placeholder="パスワード" autocomplete="on" class="form--primary__text u-fs--l u-mt5">
          <p class="form--login__repletion u-fs--xs--lh--form u-mt10 u-txtr"><a href="#" data-modal-trigger="password">パスワードを忘れたかたはコチラ</a></p>
          <button type="submit" data-submit="trigger" class="c-button-square--full u-fs--xs u-mt10"><span class="button-inner">ログイン</span></button>
        </form><a href="#" data-modal-trigger="registration" class="c-button-circle u-mt20">メールアドレスで新規登録</a>
      </div>
    </div>
    <!--modal分岐password再設定-->
    <div data-remodal-id="password" class="modal"><i data-remodal-action="close" class="c-icon--close"></i>
      <div class="modal__inner u-fs--xs">
        <h3 class="modal__inner__ttl u-fs--s u-fwb">パスワードの再設定</h3>
        <div class="modal__inner__text">
          登録したメールアドレスに、
          パスワードのリセット用のURLが届きます。
        </div>
        <form novalidate>
          <input type="email" placeholder="登録時のメールアドレス" data-mail="target" data-validate-password="target" autocomplete="on" required class="form--primary__text u-fs--l u-mt15">
          <button type="submit" data-submit-modalother="trigger" class="c-button-square--full u-fs--xs u-mt10"><span class="button-inner">送信</span></button>
        </form>
      </div>
    </div>
    <!--modal分岐新規登録-->
    <div data-remodal-id="registration" class="modal"><i data-remodal-action="close" class="c-icon--close"></i>
      <div class="modal__inner u-fs--xs">
        <h3 class="modal__inner__ttl u-fs--s u-fwb">メールアドレスで新規登録</h3>
        <form novalidate>
          <input type="email" placeholder="メールアドレスでログイン" data-mail="target" autocomplete="on" data-validate-register="target" required class="form--primary__text u-fs--l u-mt15">
          <div class="u-txtl">
            <p data-error="required" class="form__error u-fs--xxsh u-mt10">メールアドレスを入力して下さい</p>
            <p data-error="mail" class="form__error u-fs--xxsh u-mt10">メールアドレスの入力に誤りがあります。</p>
          </div>
          <input type="password" placeholder="パスワード(6桁以上)" autocomplete="on" data-validate-register="target" data-maxlength="8" data-minlength="6" data-alphanumeric="target" required class="form--primary__text u-fs--l u-mt5">
          <div class="u-txtl">
            <p data-error="required" class="form__error u-fs--xxshl u-mt10">パスワードを入力してください。</p>
            <p data-error="minlength" class="form__error u-fs--xxsh u-mt10">6桁以上で入力して下さい</p>
            <p data-error="maxlength" class="form__error u-fs--xxsh u-mt10">8桁以下で入力して下さい</p>
            <p data-error="alphanumeric" class="form__error u-fs--xxsh u-mt10">半角英数で入力して下さい</p>
          </div>
          <button type="submit" data-submit-modal="trigger" class="c-button-square--full u-fs--xs u-mt10"><span class="button-inner">新規登録</span></button>
        </form>
        <div class="modal__inner__text--notes u-fs--xxsh u-txtl u-mt15">ログインまたは新規登録することにより、キレイにスルンダの利用規約、プライバシーポリシーに同意したことになります。</div>
      </div>
    </div>
    <!--.modal(data-remodal-id='complete')-->
    <!--	i.c-icon--close(data-remodal-action='close')-->
    <!--	.modal__inner.u-fs--xs-->
    <!--		h3.modal__ttl-->
    <!--			| メールアドレスで新規登録-->
    <!--		.modal__inner__text-->
    <!--			| 本人確認のため、登録されたメールアドレスにメールが送信されました。-->
    <!--			| メール内のURLをクリックして、登録を完了させてください。-->
    <!--		p.modal__ttl-->
    <!--			| 会員登録ありがとうございました。-->
    <!--		.modal__inner__text--notes.modal__inner__text--notes--border-->
    <!--			| ※メールが届かない場合は、メールアドレスが間違っている場合がありますので、お手数をお掛けいたしますが、再度ご登録のお手続きを行ってください。-->
    <script src="../../../js/app.js"></script>
  </body>
</html>

__gulp/lunda_beauty_sp/src/jade/about/company/index.jade
- var page = ''
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'

doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../../partial/_header
			.primary-box--noPadding
				//.contents-box--recruit__top
				.primary-box__topBlock
					h1.list__ttl--normal.u-fs--m.u-fwb
						| 運営会社
				.list--primary.u-mt15
					ul
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 商
								| &nbsp;
								| 号
							.list--primary__text.u-mt15
								span.u-fs--sh
									| #{config.company}
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 所在地
							.list--primary__text.u-mt15
								span.u-fs--sh
									| 東京都豊島区南大塚2-25-15
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 設
								| &nbsp;
								| 立
							.list--primary__text.u-mt15
								span.u-fs--sh
									| 平成28年9月1日
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 所在地
							.list--primary__text.u-mt15
								span.u-fs--sh
									| 東京都豊島区南大塚2-25-15
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 事業内容
							.list--primary__text.u-mt15
								span.u-fs--sh
									| メディアサイト運営 / Web広告事業
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 代表取締役
							.list--primary__text.u-mt15
								span.u-fs--sh
									| 鈴木 清未
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 資本金
							.list--primary__text.u-mt15
								span.u-fs--sh
									| 300万円
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| 決算期
							.list--primary__text.u-mt15
								span.u-fs--sh
									| 8月
						li.list--primary__row.u-mt15
							h3.u-fs--s.u-fwb
								| HP
							.list--primary__text.u-mt15
								a(href="http://kireinista.jp")
									span.u-fs--sh
										| http://kireinista.jp

			include ../../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../../partial/_leftNav
		include ../../partial/modal/_login
		script(src='#{domain}js/app.js')
