__gulp/lunda_beauty/src/jade/concept/index.jade
- var page = 'concept'
- var title = 'キレイにスルンダ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body

		include ../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
					span #{config.sitename}とは
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left.column-left--bg(data-target-leftcolumn="target")
					article.column-box__contents
						.column-box__contents__topImg
							img(src="#{domain}img/concept/main.jpg" alt="もっと多くの人たちに“食”の業界で働く魅力を伝えたい！")
						._contents__detail__block
							p.column-box_contents__text.u-fs--lh--contents.u-mt25
								|美容業界は、いつも人手が不足しています。
								|そんな美容業界の人手不足問題を解消するため、もっともっと多くの人たちに美容業界で働く楽しさを知ってほしいと思っています。
							p.column-box_contents__text.u-fs--lh--contents.u-mt25
								|“#{config.sitename}”を通じて、美容業界の魅力を、美容に関わる人たちだけでなく、食べることが好きという一般の人たちにも、
								|情報発信して行きたいと考えています。
						._contents__detail__block--flex.u-mt40
							._contents__detail__l
								img(src="#{domain}img/concept/concept-01.jpg" alt="")
							._contents__detail__r
								h2._contents__ttl--concept.u-fs--xxl.u-fwb #{config.sitename}とは？
								p.column-box_contents__text.u-fs--lh--contents.u-mt15
									|#{config.sitename}は、食に関係する求人と情報コンテンツがひとつにまとまった“美容”業界初のキュレーションサイトです。
						._contents__detail__block--flex
							._contents__detail__l
								h2._contents__ttl--concept.u-fs--xxl.u-fwb
									|求人掲載件数は、
									span.u-fs--xxl--contents 約00,000件
								p.column-box_contents__text.u-fs--lh--contents.u-mt15
									| サービス・販売スタッフはもちろん、バリスタ・ブランジェ・ピッツァイオーロなど、掲載割合の少ない専門職も一括で検索できます。
							._contents__detail__r
								img(src="#{domain}img/concept/concept-02.jpg" alt="")
						._contents__detail__block--flex
							._contents__detail__l
								img(src="#{domain}img/concept/concept-03.jpg" alt="")
							._contents__detail__r
								h2._contents__ttl--concept.u-fs--xxl.u-fwb 食に関する、多彩な情報コンテンツ
								p.column-box_contents__text.u-fs--lh--contents.u-mt15
									| 就職・転職に役立つ情報をはじめ、最新#{config.category_1}や#{config.category_2}など多彩なお役立ちコンテンツを発信。食の最新情報をチェックできます。

				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../partial/_nav
						.column-box--right__search.u-mt30
							include ../partial/form/_quick_search_right
		include ../partial/_footer
		script(src='#{domain}js/app.js')

website/public/html/concept/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>キレイにスルンダ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=1080">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link rel="icon" type="image/png" href="/ico/favicon.png" sizes="32x32">
    <!--link(rel="apple-touch-icon-precomposed" href='#{domain}img/clipicon.png')-->
    <!--script.-->
    <!--    (function (i, s, o, g, r, a, m) {-->
    <!--        i['GoogleAnalyticsObject'] = r;-->
    <!--        i[r] = i[r] || function () {-->
    <!--                    (i[r].q = i[r].q || []).push(arguments)-->
    <!--                }, i[r].l = 1 * new Date();-->
    <!--        a = s.createElement(o),-->
    <!--                m = s.getElementsByTagName(o)[0];-->
    <!--        a.async = 1;-->
    <!--        a.src = g;-->
    <!--        m.parentNode.insertBefore(a, m)-->
    <!--    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');-->
    <!--    ga('create', 'UA-31867051-1', '012grp.co.jp');-->
    <!--    ga('require', 'linkid', 'linkid.js');-->
    <!--    ga('send', 'pageview');-->
    
    
    
  </head>
  <body>
    <header class="header--primary">
      <div class="header--primary__inner u-cf">
        <div data-trigger-quicksearch="quicksearch" class="header--primary__search"><i class="c-icon--search"></i><span class="-primary__search__text u-fs--xxxs">SEARCH</span></div>
        <h2 class="header--primary__logo"><a href="#"><img src="../img/svg/top-logo.svg" alt="キレイにスルンダ"></a></h2>
        <div class="header--primary__right"><a href="#" class="c-button-square--s"><span class="u-fs--l u-fwb">ログイン</span></a>
          <div data-trigger-hamburgermenu="hamburger" class="nav--hamburger"><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__list"></span><span class="nav--hamburger__text u-fs--xxxs">MENU</span></div>
        </div>
        <form data-target-quicksearch="quicksearch" class="quick-search quick-search--inHeader is-disable">
          <div class="-search--inHeader__inner">
            <div class="quick-search__select__wrap c-icon__wrapper--triangle">
              <select name="都道府県" class="quick-search__select u-fs--m">
                <option value="" selected>都道府県</option>
                <option value="北海道">北海道</option>
                <option value="青森県">青森県</option>
                <option value="岩手県">岩手県</option>
                <option value="宮城県">宮城県</option>
                <option value="秋田県">秋田県</option>
                <option value="山形県">山形県</option>
                <option value="福島県">福島県</option>
                <option value="茨城県">茨城県</option>
                <option value="栃木県">栃木県</option>
                <option value="群馬県">群馬県</option>
                <option value="埼玉県">埼玉県</option>
                <option value="千葉県">千葉県</option>
                <option value="東京都">東京都</option>
                <option value="神奈川県">神奈川県</option>
                <option value="新潟県">新潟県</option>
                <option value="富山県">富山県</option>
                <option value="石川県">石川県</option>
                <option value="福井県">福井県</option>
                <option value="山梨県">山梨県</option>
                <option value="長野県">長野県</option>
                <option value="岐阜県">岐阜県</option>
                <option value="静岡県">静岡県</option>
                <option value="愛知県">愛知県</option>
                <option value="三重県">三重県</option>
                <option value="滋賀県">滋賀県</option>
                <option value="京都府">京都府</option>
                <option value="大阪府">大阪府</option>
                <option value="兵庫県">兵庫県</option>
                <option value="奈良県">奈良県</option>
                <option value="和歌山県">和歌山県</option>
                <option value="鳥取県">鳥取県</option>
                <option value="島根県">島根県</option>
                <option value="岡山県">岡山県</option>
                <option value="広島県">広島県</option>
                <option value="山口県">山口県</option>
                <option value="徳島県">徳島県</option>
                <option value="香川県">香川県</option>
                <option value="愛媛県">愛媛県</option>
                <option value="高知県">高知県</option>
                <option value="福岡県">福岡県</option>
                <option value="佐賀県">佐賀県</option>
                <option value="長崎県">長崎県</option>
                <option value="熊本県">熊本県</option>
                <option value="大分県">大分県</option>
                <option value="宮崎県">宮崎県</option>
                <option value="鹿児島県">鹿児島県</option>
                <option value="沖縄県">沖縄県</option>
              </select>
            </div><span class="c-icon--cross"></span>
            <div class="quick-search__select__wrap c-icon__wrapper--triangle">
              <select name="雇用形態" class="quick-search__select u-fs--m">
                <option value="正社員">正社員</option>
                <option value="その他">その他</option>
                <option value="契約社員">契約社員</option>
                <option value="業務委託">業務委託</option>
                <option value="アルバイト">アルバイト</option>
              </select>
            </div><span class="c-icon--cross"></span>
            <input type="text" placeholder="キーワード" class="quick-search__input u-fs--m">
            <button type="submit" class="c-button-square--m u-fs--l"><span class="button-inner">カンタン検索</span></button>
          </div>
        </form>
        <ul data-target-hamburgermenu="hamburger" class="nav-box u-fs--xs nav-box--inHeader is-disable">
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--home"></i></span><span>HOME</span></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--secret"></i></span><span>シークレット求人</span></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--content"></i></span><span>コンテンツまとめ</span></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--trend"></i></span><span>食トレンド</span></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--interview"></i></span><span>インタビュー</span></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--skill"></i></span><span>スキルアップ</span></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--work"></i></span><span>労務Q&A</span></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--career"></i></span><span>就食ノウハウ</span></a></li>
          <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--chopsticks"></i></span><span>しゃべるんだ</span></a></li>
        </ul>
      </div>
    </header>
    <div class="primary-box">
      <div class="breadcrumb u-fs--xxs"><a href="#"><span>HOME</span></a><span class="breadcrumb__arrow__text u-arrow__text">&gt;<span>キレイにスルンダとは</span></span></div>
      <div data-target-maincolumn="target" class="primary-box__inner u-mt20">
        <div data-target-leftcolumn="target" class="column-left column-left--bg">
          <article class="column-box__contents">
            <div class="column-box__contents__topImg"><img src="../img/concept/main.jpg" alt="もっと多くの人たちに“食”の業界で働く魅力を伝えたい！"></div>
            <div class="_contents__detail__block">
              <p class="column-box_contents__text u-fs--lh--contents u-mt25">
                飲食業界は、いつも人手が不足しています。
                そんな飲食業界の人手不足問題を解消するため、もっともっと多くの人たちに飲食業界で働く楽しさを知ってほしいと思っています。
              </p>
              <p class="column-box_contents__text u-fs--lh--contents u-mt25">
                “キレイにスルンダ”を通じて、飲食業界の魅力を、飲食に関わる人たちだけでなく、食べることが好きという一般の人たちにも、
                情報発信して行きたいと考えています。
              </p>
            </div>
            <div class="_contents__detail__block--flex u-mt40">
              <div class="_contents__detail__l"><img src="../img/concept/concept-01.jpg" alt=""></div>
              <div class="_contents__detail__r">
                <h2 class="_contents__ttl--concept u-fs--xxl u-fwb">キレイにスルンダとは？</h2>
                <p class="column-box_contents__text u-fs--lh--contents u-mt15">キレイにスルンダは、食に関係する求人と情報コンテンツがひとつにまとまった“飲食”業界初のキュレーションサイトです。</p>
              </div>
            </div>
            <div class="_contents__detail__block--flex">
              <div class="_contents__detail__l">
                <h2 class="_contents__ttl--concept u-fs--xxl u-fwb">求人掲載件数は、<span class="u-fs--xxl--contents">約00,000件</span></h2>
                <p class="column-box_contents__text u-fs--lh--contents u-mt15">サービス・販売スタッフはもちろん、バリスタ・ブランジェ・ピッツァイオーロなど、掲載割合の少ない専門職も一括で検索できます。</p>
              </div>
              <div class="_contents__detail__r"><img src="../img/concept/concept-02.jpg" alt=""></div>
            </div>
            <div class="_contents__detail__block--flex">
              <div class="_contents__detail__l"><img src="../img/concept/concept-03.jpg" alt=""></div>
              <div class="_contents__detail__r">
                <h2 class="_contents__ttl--concept u-fs--xxl u-fwb">食に関する、多彩な情報コンテンツ</h2>
                <p class="column-box_contents__text u-fs--lh--contents u-mt15">就職・転職に役立つ情報をはじめ、最新食トレンドや労務Q&Aなど多彩なお役立ちコンテンツを発信。食の最新情報をチェックできます。</p>
              </div>
            </div>
          </article>
        </div>
        <div class="column-right">
          <div data-target-rightcolumn="target" class="column-right__inner">
            <div class="column-box--rightTop">
              <div class="column-box__ttl u-fs--xl u-fwb">〈今日のキレイにスルンダ!〉</div>
              <div class="column-box--rightTop__num"><span class="-rightTop__num__subText u-fs--l">求人数</span><span data-target-numcheck="6" class="-rightTop__num__text u-fs--xxxl u-fwb">00,000</span><span class="-rightTop__num__subText u-fs--l">件</span></div>
              <div class="c-icon--circle--baloon"><i class="c-icon--triangle--rotate"></i><span class="-rightTop__new__subText u-fs--l">新着</span>
                <p data-target-numcheck="3" class="-rightTop__new__text u-fs--xxl u-fwb">000<span class="u-fs--xxs">件</span></p>
              </div>
            </div>
            <ul class="nav-box u-fs--xs u-mt30">
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--home"></i></span><span>HOME</span></a></li>
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--secret"></i></span><span>シークレット求人</span></a></li>
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><span class="nav-box__list__icon"><i class="c-icon--content"></i></span><span>コンテンツまとめ</span></a></li>
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--trend"></i></span><span>食トレンド</span></a></li>
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--interview"></i></span><span>インタビュー</span></a></li>
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--skill"></i></span><span>スキルアップ</span></a></li>
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--work"></i></span><span>労務Q&A</span></a></li>
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--career"></i></span><span>就食ノウハウ</span></a></li>
              <li class="nav-box__list"><a href="#" class="nav-box__list__link"><i class="c-icon--l"></i><span class="nav-box__list__icon"><i class="c-icon--chopsticks"></i></span><span>しゃべるんだ</span></a></li>
            </ul>
            <div class="column-box--right__search u-mt30">
              <div class="quick-search__select__wrap c-icon__wrapper--triangle">
                <select name="都道府県" class="quick-search__select u-fs--m">
                  <option value="" selected>都道府県</option>
                  <option value="北海道">北海道</option>
                  <option value="青森県">青森県</option>
                  <option value="岩手県">岩手県</option>
                  <option value="宮城県">宮城県</option>
                  <option value="秋田県">秋田県</option>
                  <option value="山形県">山形県</option>
                  <option value="福島県">福島県</option>
                  <option value="茨城県">茨城県</option>
                  <option value="栃木県">栃木県</option>
                  <option value="群馬県">群馬県</option>
                  <option value="埼玉県">埼玉県</option>
                  <option value="千葉県">千葉県</option>
                  <option value="東京都">東京都</option>
                  <option value="神奈川県">神奈川県</option>
                  <option value="新潟県">新潟県</option>
                  <option value="富山県">富山県</option>
                  <option value="石川県">石川県</option>
                  <option value="福井県">福井県</option>
                  <option value="山梨県">山梨県</option>
                  <option value="長野県">長野県</option>
                  <option value="岐阜県">岐阜県</option>
                  <option value="静岡県">静岡県</option>
                  <option value="愛知県">愛知県</option>
                  <option value="三重県">三重県</option>
                  <option value="滋賀県">滋賀県</option>
                  <option value="京都府">京都府</option>
                  <option value="大阪府">大阪府</option>
                  <option value="兵庫県">兵庫県</option>
                  <option value="奈良県">奈良県</option>
                  <option value="和歌山県">和歌山県</option>
                  <option value="鳥取県">鳥取県</option>
                  <option value="島根県">島根県</option>
                  <option value="岡山県">岡山県</option>
                  <option value="広島県">広島県</option>
                  <option value="山口県">山口県</option>
                  <option value="徳島県">徳島県</option>
                  <option value="香川県">香川県</option>
                  <option value="愛媛県">愛媛県</option>
                  <option value="高知県">高知県</option>
                  <option value="福岡県">福岡県</option>
                  <option value="佐賀県">佐賀県</option>
                  <option value="長崎県">長崎県</option>
                  <option value="熊本県">熊本県</option>
                  <option value="大分県">大分県</option>
                  <option value="宮崎県">宮崎県</option>
                  <option value="鹿児島県">鹿児島県</option>
                  <option value="沖縄県">沖縄県</option>
                </select>
              </div><span class="c-icon--cross"></span>
              <div class="quick-search__select__wrap c-icon__wrapper--triangle">
                <select name="雇用形態" class="quick-search__select u-fs--m">
                  <option value="正社員">正社員</option>
                  <option value="その他">その他</option>
                  <option value="契約社員">契約社員</option>
                  <option value="業務委託">業務委託</option>
                  <option value="アルバイト">アルバイト</option>
                </select>
              </div><span class="c-icon--cross"></span>
              <input type="text" placeholder="キーワード" class="quick-search__input u-fs--m">
              <button type="submit" class="c-button-square--full u-fs--l u-mt20"><span class="button-inner">カンタン検索</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer__inner"><span data-trigger-totop="target" class="u-fs--s _inner__button--toTop c-button-square--toTop"><i class="_button--toTop__icon c-icon--triangle--top"></i>上に戻る</span>
        <ul class="footer__nav">
          <li class="u-fs--xxs _inner__block--left">
            <ul class="footer__inner__list">
              <li><span class="u-arrow__text">&gt;</span><a href="#">HOME</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">シークレット求人</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">コンテンツまとめ</a></li>
            </ul>
          </li>
          <li class="u-fs--xxs _inner__block--middle">
            <p class="_inner__block__title u-fwb">コンテンツカテゴリー</p>
            <ul class="footer__inner__rows footer__inner__list">
              <li><span class="u-arrow__text">&gt;</span><a href="#">食トレンド</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">労務Q&A</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">インタビュー</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">就食ノウハウ</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">スキルアップ</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">しゃべるんだ</a></li>
            </ul>
          </li>
          <li class="u-fs--xxs _inner__block--right">
            <p class="_inner__block__title u-fwb">キレイにスルンダについて</p>
            <ul class="footer__inner__rows footer__inner__list">
              <li><span class="u-arrow__text">&gt;</span><a href="#">キレイにスルンダとは</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">お問い合わせ</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">運営会社</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">プライバシーポリシー</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">求人掲載について</a></li>
              <li><span class="u-arrow__text">&gt;</span><a href="#">ログイン/新規登録</a></li>
            </ul>
          </li>
          <li class="footer__social__block"><a href="#" class="c-button-square--social c-facebook"><i class="c-font-icon--facebook _social__block__icon u-fs--xxl"></i><span class="u-fs--l">シェア</span></a><a href="#" class="c-button-square--social c-twitter u-mt10"><i class="c-font-icon--twitter _social__block__icon u-fs--xxl"></i><span class="u-fs--l">ツイート</span></a>
            <p class="_social__block__text u-mt20">&copy;2016 Wiz Co.,Ltd.</p>
          </li>
        </ul>
      </div>
    </footer>
    <script src="../js/app.js"></script>
  </body>
</html>
